FORMAT: 1A
HOST: https://api.folderit.com

# Folderit API
# Changes

### 2025.08.24 - 2.0.71
* Permission properties now support narrowing with the `fields` parameter.

### 2025.08.22 - 2.0.70
* Automatically expand requested fields, expand parameter is not required for the fields listed under the expanded variants
* Add `thumbnails` property to File and FileVersion schemas

### 2025.08.21 - 2.0.69
* Add extension filter to [entities by parent](#tag/Entity/operation/getEntitiesByParent), [entities by tag](#tag/Entity/operation/getEntitiesByTag) and [all entities](#tag/Entity/operation/getAllEntities)

### 2025.08.12 - 2.0.68
* Add `parentUid` query parameter to [Recycled entities](#tag/Entity/operation/getRecycledEntities)

### 2025.08.11 - 2.0.67
* Add `position` as an expandable field to a team user

### 2025.08.10 - 2.0.66
* Alter [Team users](#tag/Account/operation/getTeamUsers) endpoint to a paginated response, add groups as an expandable field to a team user

### 2025.07.31 - 2.0.65
* Add lockId to [Lock a file](#tag/File/operation/lockFilePost) request  
  Unlocking is supported only with a [PUT request](#tag/File/operation/unlockFile2)

### 2025.07.29 - 2.0.64
* Add teamUserStatus field to [account users](#tag/Account/operation/getAccountUsers) and status field to [account team users](#tag/Account/operation/getTeamUsers)

### 2025.07.24 - 2.0.63
* Add an optional operator to the search filter filterItem->number

### 2025.07.01 - 2.0.62
* Add account stats expandable field

### 2025.06.10 - 2.0.61
* Add paginated response variants to [reminder listings](#tag/Reminder)
* Add recurrence property to [update a Reminder](#tag/Reminder/operation/updateReminder)

### 2025.06.04 - 2.0.60
* Add a method to [empty the recycle bin](#tag/Entity/operation/emptyRecycleBin)

### 2025.06.03 - 2.0.59
* Add the size property to [file versions](#tag/File/operation/getFileVersions)
* Add a paginated response variant to [file versions listing](#tag/File/operation/getFileVersions)
* Fetch multiple entities by UID at [Sections/entities](#tag/Entity/operation/getEntities)
* [Duplication of entities](#tag/Entity/operation/duplicateEntities)
* Add a paginated response variant to [related entities listing](#tag/Entity/operation/getEntityRelatedItems)

### 2025.05.26 - 2.0.58
* Add operationId to all paths

### 2025.04.17 - 2.0.57
* Add method property to resolution workflow audit trail data property

### 2025.04.06 - 2.0.56
* Add 2 new paths for fetching tags, add pagination and sorting to existing tag listing
  * [Get only root tags](#tag/Tag/operation/getRootTags) 
  * [Get sub-tags](#tag/Tag/operation/getSubTags) 
* Add [Search entities](#tag/Search/operation/searchEntities) endpoint

### 2025.04.02 - 2.0.55
* Add [resolutions](#tag/Resolution) and [workflows](#tag/Workflow)
* Add resolutionSupport extendable property to Entity

### 2025.03.27 - 2.0.54
* Add `options` as an expandable field to Meta

### 2025.03.26 - 2.0.53
* Add [entities by tag](#tag/Entity/operation/getEntitiesByTag) endpoint

### 2025.02.03 - 2.0.52
* Add more granular permissions for account sharing

### 2025.01.20 - 2.0.51
* Add `recurrence` property to reminders

### 2025.01.17 - 2.0.50
* Add `time` property to file lock requests for custom lock duration

### 2024.12.09 - 2.0.49
* Add `source` field to retention for customizing the source attribute for calculating the retention end time

### 2024.11.13 - 2.0.48
* Add `accountWatermarking` audit trail event

### 2024.11.13 - 2.0.47
* Add `timeFormat` as expandable field to User

### 2024.10.25 - 2.0.46
* Added comment field for workflow responses in audit trail

### 2024.10.10 - 2.0.45
* Added accountTeamUserManagedInvite, accountTeamUserManagedInviteDelete, accountTeamUserManagedAccept and accountTeamUserManagedReject audit trail events

### 2024.09.17 - 2.0.44
* Deprecate Account file report [`GET /v2/accounts/{accountUid}/reports/file-list`](#tag/File/operation/getAccountFileReport)

### 2024.09.10 - 2.0.43
* Meta of type `float` is renamed from Float to Decimal, type field stays the same for compatibility.  
  Value is represented as a string for compatibility with higher precisions and larger values.
* Change asic entity type text representation from `asic` to `file`
* Add prefix and wildcard search operators for meta filters

### 2024.09.02 - 2.0.42
* Add `language` to the composable filter of search

### 2024.09.02 - 2.0.41
* Add an expandable field `activeUser` to audit trails. Present, when a substitute user performed the action.

### 2024.07.26 - 2.0.40
* File and folder retention audit events contain no `data` property any more on removal of retention
* Add `cause` to audit trails to mark actions performed by background processes. Initially the only option is `retention`.
* Add all entities listing endpoint: [`GET /v2/accounts/{accountUid}/entities/all`](#tag/Entity/operation/getAllEntities)

### 2024.06.14 - 2.0.39
* Mark inbox and team folders as nullable fields for Account

### 2024.05.27 - 2.0.38
* Fix Audit trail sync-log id field value
* Add `sort` and `viewType` expandable fields to Folder

### 2024.05.23 - 2.0.37
* Search: add `uid` to queryFilter list 

### 2024.04.26 - 2.0.36
* Add `visibleColumnsWithMeta` as expandable field to Folder to get meta columns with names

### 2024.04.18 - 2.0.35
* Add `remoteUsername` as expandable field to Team user

### 2024.04.16 - 2.0.34
* Add redirect Location url in content as well
* Add `creator` as expandable field to Entity
* Include response samples with all expanded fields.  
  Note: It is recommended to ask for as few fields as is necessary as there are optimizations in place in the background for generating responses. This goes for both default fields and extra related data using expand option. For example, when requesting for all entities under a parent with tags, meta etc, if You don't need to have permissions for each related piece, do not request for them. A sample get param would be: `?fields=uid,name,tags.uid,tags.name,meta.meta.uid,meta.value&expand=tags,meta:myMetaUid,meta:myOtherMetaUid`

### 2024.04.11 - 2.0.33
* Add sorting to entities by parent endpoint: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/entities`](#tag/Entity/operation/getEntitiesByParent)
* Add `extension` as expandable field to Entity
* Add `size` as expandable field to Entity

### 2024.04.10 - 2.0.32
* Update folder column attribute options list
* Add `tags` as expandable field to Entity
* Add `dateFormat` as expandable field to User

### 2024.03.20 - 2.0.31
* Add `meta:UID` expand field to entities

### 2024.03.18 - 2.0.30
* Get a list of parents for an entity: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/parents`](#tag/Entity/operation/getEntityParents)
* Add isRoot property to entity

### 2024.03.11 - 2.0.29
* Add sectionOrder property to entity and folder models (applicable to only root entities/sections)
* Add folderStats property to entity and folder models
* Add inboxFolder and teamFolder properties to entity and folder models

### 2024.01.09 - 2.0.28
* Add account as an expandable relation to Entity

### 2023.11.24 - 2.0.27
* Add highlight expand field for search results

### 2023.11.22 - 2.0.26
* Add `version` expandable field to `File` objects

### 2023.10.30 - 2.0.25
* Add fileUpdateContent and fileUpdateOnline permissions to file
* Add canShareCustomPermissions to Account permissions list
  * Without this permission, You can only set the role property for a share, no settings

### 2023.10.22 - 2.0.24
* Add endpoints for getting shares to a specific user
  * Get direct shares to a specific user: [`GET /v2/accounts/{accountUid}/users/{userUid}/shares`](#tag/Share/operation/getUserShares)
  * Get all shares (including through group memberships) accessible by a specific user: [`GET /v2/accounts/{accountUid}/users/{userUid}/access`](#tag/Share/operation/getAllUserShares)
* Add documentation for fetching share info: [`GET /v2/accounts/{accountUid}/shares/{shareUid}`](#tag/Share/operation/getShare)
* Add settings property to shares

### 2023.10.18 - 2.0.23
* Add missing endpoint documentation for tag sharing
  * Get tag shares: [`GET /v2/accounts/{accountUid}/tags/{tagUid}/shares`](#tag/Tag/operation/getTagShares)
  * Share a tag: [`POST /v2/accounts/{accountUid}/tags/{tagUid}/shares`](#tag/Tag/operation/addTagShares)

### 2023.10.18 - 2.0.22
* Add group expand parameters to doc

### 2023.09.20 - 2.0.21
* Add composable filter and scoring option to file/folder searches
  * *filter* property can contain a nested set of familiar filters to create a required composite set of filters
  * *scoring* property is used to force scoring even when we're not doing search by query directly (only filtering)  
    Scoring results are not guaranteed to be sensible

### 2023.09.19 - 2.0.20
* Added fileOnlineView and fileOnlineEdit audit trail events

### 2023.09.14 - 2.0.19
* Sections list is now available for partially accessible accounts, canGetSections property indicates that all sections are guaranteed to be accessible
* Share items to user by userUid

### 2023.09.03 - 2.0.18
* Enable moving tags around

### 2023.08.30 - 2.0.17
* Add `isUsed` attribute to Meta Select Option
* Add tag management to entities for a single point to manage tags for all types of entities
* Tag sharing
* Add tagUid filter to file/folder search endpoints

### 2023.08.10 - 2.0.16
* Add searchAfter field to file/folder search endpoints for paging over more than 10000 results.

### 2023.07.31 - 2.0.15
* Add sorting to file/folder search endpoints

### 2023.03.05 - 2.0.14
* Reminders for all types of entities
  * Added two endpoints, one specifically for folders, other for any type of entity
  * Folders: [`GET /v2/accounts/{accountUid}/folders/{folderUid}/reminders`](#tag/Reminder/operation/getFolderReminders)
  * Entities: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/reminders`](#tag/Reminder/operation/getEntityReminders)
* Related items to all types of entities of all types  
  * Added two endpoints, one specifically for folders, other for any type of entity
  * Folders: [`GET /v2/accounts/{accountUid}/folders/{folderUid}/related`](#tag/Folder/operation/getFolderRelatedItems)
  * Entities: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/related`](#tag/Entity/operation/getEntityRelatedItems)
* Meta for all items, new endpoint is under entities: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/meta`](#tag/Entity/operation/getEntityMeta)

### 2023.02.21 - 2.0.13
* Add new request header `X-Folderit-Request-Key` to make it possible to differentiate audit trails resulting from your own requests
* Add audit trail endpoint tailored for file syncing: [`GET /v2/accounts/{accountUid}/audit/syncLog`](#tag/Audit/operation/getFileSyncLog)
* Add `extra` field to the expand list of folder and entity, which gives access to number, note, date etc.
* Add `extra` field to folder and entity update endpoints

### 2023.01.23 - 2.0.12
* Add includeFiles, includeLinks and includeFolders fields for FolderMeta

### 2022.07.22 - 2.0.11
* Add groups as group members ([GET group all members](#operation/getGroupMembers))
* Add [Entity endpoint](#tag/Entity) for a unified access to directory structure (access to all types of entities like folders, files, links and more in the future)

### 2022.04.13 - 2.0.10
* Add `fields` and `expand` query parameters to paths resulting in accounts, folders and files
  * `fields` parameter can be used to reduce amount of data returned. For example: `fields=uid,name`
  * `expand` parameter can be used to fetch related objects with the request, for example fetching meta with a file list.
    * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/files?expand=meta,people,tags`](#tag/Folder/operation/getFilesByParent) includes meta, people and tags arrays with each file
  * `expand` and `fields` can be combined to get all fields of the initial object, but only a few from a related object:
    * `fields=*,meta.value,meta.meta.name&expand=meta`
* Search result updates for autocomplete [`GET /v2/accounts/{accountUid}/search/simple`](#tag/Search/operation/searchAutocomplete) and [`GET /v2/accounts/{accountUid}/search/files`](#tag/Search/operation/searchFiles):
  * Mark file search result pathUid property as deprecated
  * Add mimeType property to file search results

### 2022.04.06 - 2.0.9
* Add email as a required field for signing up team users via [`POST /v2/accounts/{accountUid}/team-users`](#tag/Account/operation/addTeamUser)

### 2022.04.02 - 2.0.8
* Add new audit events
  * fileDuplicate
  * folderDuplicate
  * folderSubfileDuplicate
  * folderSubfolderDuplicate
  * accountSectionDuplicate
* Add userUid and groupUid to Audit Trail Share data
* Audit trail fileDownload events now have fileVersionUid data

### 2022.02.23 - 2.0.7
* Add folder import emails (mailInAddress)
  * Activate an address for importing mails to any folder (in contrast to Inbox section, which always has a static address)
    * Activate address: [`POST /v2/accounts/{accountUid}/folders/{folderUid}/email`](#tag/Folder/operation/configureFolderEmail)
    * Deactivate existing address: [`DELETE /v2/accounts/{accountUid}/folders/{folderUid}/email`](#tag/Folder/operation/deleteFolderEmail)
    * Reset (active or deleted) address to get a new random key: [`PUT /v2/accounts/{accountUid}/folders/{folderUid}/email`](#tag/Folder/operation/requestNewFolderEmailAddress)
  * If You prefer to only use POST requests, use `action` parameter in request body

### 2022.02.13 - 2.0.6
* Add dateFrom and dateTo filters for file search
* Add file report [`GET /v2/accounts/{accountUid}/reports/file-list`](#tag/File/operation/getAccountFileReport)

### 2022.01.24 - 2.0.5
* Add new audit event: fileResolutionDelete

### 2022.01.22 - 2.0.4
* Adjusted field names in error responses to correct names

### 2022.01.16 - 2.0.3
* Added pagination
  * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/folders`](#tag/Folder/operation/getFolderByParent)
  * [`GET /v2/accounts/{accountUid}/recycle-bin/folders`](#tag/Folder/operation/getRecycledFolders)
  * [`GET /v2/accounts/{accountUid}/recycle-bin/files`](#tag/File/operation/getRecycledFiles)

### 2022.01.14 - 2.0.2
* Fix Folder visibleColumns meta column spec

### 2022.01.14 - 2.0.1
* Added `page-size` parameter to paths that already had `page` parameter
  * [`GET /v2/accounts/{accountUid}/audit/accountLog`](#tag/Audit/operation/getAccountRecentAuditTrail)
  * [`GET /v2/accounts/{accountUid}/audit`](#tag/Audit/operation/getAccountAuditTrail)
  * [`GET /v2/accounts/{accountUid}/files/{fileUid}/audit`](#tag/Audit/operation/getFileAuditTrail)
  * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/audit`](#tag/Audit/operation/getFolderAuditTrail)
  * [`GET /v2/accounts/{accountUid}/groups`](#tag/Group/operation/getGroups)
* Added pagination
  * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/files`](#tag/File/operation/getFilesByParent)
* Added missing pagination documentation
  * [`GET /v2/accounts/{accountUid}/groups/{groupUid}/users`](#tag/Group/operation/getGroupUsers)

### 2021.12.19 - 2.0.0
API v2 comes with multiple breaking changes. Most notably:
* Removed any reference to object `ID`s. Instead we are now using `UID`s. UIDs are globally unique and have a data type of CHAR(10)
* Paths now include `accountUid` as required parameter
* `accountId` paramater has been removed from request body parameters as `accountUid` is now always part of the path parameters for Account-related requests
* New tags and people/signees can be created directly without attaching them to a file from [`POST /v2/accounts/{accountUid}/tags`](#tag/Tag/operation/addTag) and [`POST /v2/accounts/{accountUid}/people`](#tag/Person/operation/addPerson)
* Removed deprecated paths and parameters

#### New features
* Audit trail: added new tag and person/signee events on Account level
  * tagNew
  * tagDelete
  * tagName
  * signeeNew
  * signeeDelete
  * signeeName
* Search
  * Added queryFilter options to File search
    * number
    * mailSubject
    * mailSenderEmail
    * mailSenderName
    * mailContent
  * Added filter fields to File search
    * number
    * mailSubject
    * mailSenderEmail
    * mailSenderName
    * mailContent

#### Detailed changes to paths:
* Removed paths:
  * /files
  * /files/{fileId}
  * /folders
  * /folders/{folderId}
  * /accounts/{accountId}/recycle-bin
  * /meta/{metaId}
  * /files/search
  * /folders/search
  * /download
  * /audit/files/{fileId}
  * /audit/folders/{folderId}
* New paths:
  * /v2/accounts/{accountUid}/files/{fileUid}/preview
  * /v2/accounts/{accountUid}/files/{fileUid}/versions/{fileVersionUid}/download
* Changed paths:
  * /files/upload -> /v2/accounts/{accountUid}/files/upload
  * /files/single/{fileId} -> /v2/accounts/{accountUid}/files/{fileUid}
  * /files/{fileId}/permissions -> /v2/accounts/{accountUid}/files/{fileUid}/permissions
  * /files/{fileId}/lock -> /v2/accounts/{accountUid}/files/{fileUid}/lock
  * /files/{fileId}/unlock -> /v2/accounts/{accountUid}/files/{fileUid}/unlock
  * /files/{fileId}/related -> /v2/accounts/{accountUid}/files/{fileUid}/related
  * /files/{fileId}/restore -> /v2/accounts/{accountUid}/files/{fileUid}/restore
  * /files/{fileId}/purge -> /v2/accounts/{accountUid}/files/{fileUid}/purge
  * /files/{fileId}/versions -> /v2/accounts/{accountUid}/files/{fileUid}/versions
  * /files/{fileId}/versions/{fileVersionId} -> /v2/accounts/{accountUid}/files/{fileUid}/versions/{fileVersionUid}
  * /files/download/{fileId} -> /v2/accounts/{accountUid}/files/{fileUid}/download
  * /files/versions/{fileVersionId}/preview -> /v2/accounts/{accountUid}/files/{fileUid}/versions/{fileVersionUid}/preview
  * /files/{fileId}/unpack -> /v2/accounts/{accountUid}/files/{fileUid}/unpack
  * /files/unpack-status/{key} -> /v2/accounts/{accountUid}/unpack/status/{key}
  * /files/unpack-check -> /v2/accounts/{accountUid}/unpack/check
  * /files/languages -> /v2/accounts/{accountUid}/document-languages
  * /folders/single/{folderId} -> /v2/accounts/{accountUid}/folders/{folderUid}
  * /files/people/{personId} -> /v2/accounts/{accountUid}/people/{personUid}
  * /files/people/{personId}/permissions -> /v2/accounts/{accountUid}/people/{personUid}/permissions
  * /folders/{folderId}/files -> /v2/accounts/{accountUid}/folders/{folderUid}/files
  * /folders/single/{folderId} -> /v2/accounts/{accountUid}/folders/{folderUid}
  * /folders/{folderId}/permissions -> /v2/accounts/{accountUid}/folders/{folderUid}/permissions
  * /folders/{folderId}/folders -> /v2/accounts/{accountUid}/folders/{folderUid}/folders
  * /folders/{folderId}/restore -> /v2/accounts/{accountUid}/folders/{folderUid}/restore
  * /folders/{folderId}/purge -> /v2/accounts/{accountUid}/folders/{folderUid}/purge
  * /groups/{groupId} -> /v2/accounts/{accountUid}/groups/{groupUid}
  * /groups/{groupId}/permissions -> /v2/accounts/{accountUid}/groups/{groupUid}/permissions
  * /groups/{groupId}/shares -> /v2/accounts/{accountUid}/groups/{groupUid}/shares
  * /groups/{groupId}/users -> /v2/accounts/{accountUid}/groups/{groupUid}/users
  * /groups/{groupId}/users/{userId} -> /v2/accounts/{accountUid}/groups/{groupUid}/users/{userUid}
  * /groups/{groupId}/users/{userId}/permissions -> /v2/accounts/{accountUid}/groups/{groupUid}/users/{userUid}/permissions
  * /meta/{metaId}/permissions -> /v2/accounts/{accountUid}/meta/{metaUid}/permissions
  * /files/{fileId}/meta -> /v2/accounts/{accountUid}/files/{fileUid}/meta
  * /files/{fileId}/meta/{metaId} -> /v2/accounts/{accountUid}/files/{fileUid}/meta/{metaUid}
  * /files/{fileId}/meta/active -> /v2/accounts/{accountUid}/files/{fileUid}/active-meta
  * /folders/{folderId}/meta -> /v2/accounts/{accountUid}/folders/{folderUid}/meta
  * /folders/{folderId}/meta/{metaId} -> /v2/accounts/{accountUid}/folders/{folderUid}/meta/{metaUid}
  * /folders/{folderId}/meta/active -> /v2/accounts/{accountUid}/folders/{folderUid}/active-meta
  * /files/people/{personId} -> /v2/accounts/{accountUid}/people/{personUid}
  * /files/people/{personId}/permissions -> /v2/accounts/{accountUid}/people/{personUid}/permissions
  * /files/{fileId}/people -> /v2/accounts/{accountUid}/files/{fileUid}/people
  * /files/{fileId}/people/{personId} -> /v2/accounts/{accountUid}/files/{fileUid}/people/{personUid}
  * /files/reminders/{reminderId} -> /v2/accounts/{accountUid}/reminders/{reminderUid}
  * /files/{fileId}/reminders -> /v2/accounts/{accountUid}/files/{fileUid}/reminders
  * /search/extensions -> /v2/accounts/{accountUid}/search/extensions
  * /search/files -> /v2/accounts/{accountUid}/search/files
  * /search/folders -> /v2/accounts/{accountUid}/search/folders
  * /search/simple -> /v2/accounts/{accountUid}/search/simple
  * /shares/{shareId} -> /v2/accounts/{accountUid}/shares/{shareUid}
  * /shares/{shareId}/permissions -> /v2/accounts/{accountUid}/shares/{shareUid}/permissions
  * /files/{fileId}/shares -> /v2/accounts/{accountUid}/files/{fileUid}/shares
  * /folders/{folderId}/shares -> /v2/accounts/{accountUid}/folders/{folderUid}/shares
  * /files/tags/{tagId} -> /v2/accounts/{accountUid}/tags/{tagUid}
  * /files/tags/{tagId}/permissions -> /v2/accounts/{accountUid}/tags/{tagUid}/permissions
  * /files/{fileId}/tags -> /v2/accounts/{accountUid}/files/{fileUid}/tags
  * /files/{fileId}/tags/{tagId} -> /v2/accounts/{accountUid}/files/{fileUid}/tags/{tagUid}
  * /audit/accountLog/{accountId} -> /v2/accounts/{accountUid}/audit/accountLog
  * /files/{fileId}/audit -> /v2/accounts/{accountUid}/files/{fileUid}/audit
  * /folders/{folderId}/audit -> /v2/accounts/{accountUid}/folders/{folderUid}/audit


## Authentication
This API uses OAuth v2 Bearer Token / Personal Access Token for its authentication.

# Group User

User-related operations

## V2 User [/v2/user{?fields,expand}]

### getUser [GET]
Returns user details
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include additional information (comma-separated).

        + Sample: ["dateFormat"]
        + Members
            + `dateFormat` 
            + `timeFormat` 


+ Response 200 (application/json)

        User information

    + Attributes (string)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### editUser [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include additional information (comma-separated).

        + Sample: ["dateFormat"]
        + Members
            + `dateFormat` 
            + `timeFormat` 


+ Request (<<Add Header Value>>)

    + Attributes (V2 User Request)



+ Response 200 (application/json)

        User information

    + Attributes (string)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 User Billing [/v2/user/billing{?fields}]

### editUserBilling [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]

+ Request (<<Add Header Value>>)

    + Attributes (string)



+ Response 200 (application/json)

        User profile

    + Attributes (string)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 User Countries [/v2/user/countries]

### getSupportedCountries [GET]

+ Response 200 (application/json)

        Supported countries

    + Attributes (string)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 User Countries By Locale [/v2/user/countries/{locale}]

+ Parameters
    + locale (string, required)

        Locale

        + Sample: en-GB

### getSupportCountriesInLocale [GET]

+ Response 200 (application/json)

        Supported countries

    + Attributes (string)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 User Locales [/v2/user/locales]

### getSupportedLocales [GET]

+ Response 200 (application/json)

        Supported locales

    + Attributes (string)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 User Permissions [/v2/user/permissions]

### getUserPermissions [GET]

+ Response 200 (application/json)

        Permissions

    + Attributes (V2 User Permissions Response)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Users [/v2/users{?fields}]

### signupUser [POST]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (newUserSignup)



+ Response 200 (application/json)

        User signed up

    + Attributes (Other user)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Users By UserUid [/v2/users/{userUid}{?fields}]

+ Parameters
    + userUid (string, required)

        User UID

        + Sample: Abc_123-XY

### getUserByUid [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]

+ Response 200 (application/json)

        User information

    + Attributes (Other user)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Users Shares By AccountUid [/v2/accounts/{accountUid}/users/{userUid}/shares{?fields,per-page,cursor,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + userUid (string, required)

        User UID

        + Sample: Abc_123-XY

### getUserShares [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + per-page (number, optional) -

        Pagination page size

        + Default: 20
        + Sample: 10
    + cursor (string, optional)

        Pagination cursor  
        The `Link` header will have a next page link available with the new cursor value, usually contains the last `uid` value from the response.

    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example entity.meta).

        + Members
            + `entity` 
            + `account` 
            + `tag` 


+ Response 200 (application/json)

        Item shares

    + Attributes (array[string])



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Users Access By AccountUid [/v2/accounts/{accountUid}/users/{userUid}/access{?fields,per-page,cursor,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + userUid (string, required)

        User UID

        + Sample: Abc_123-XY

### getAllUserShares [GET]
All shares (including through groups) accessible by an user
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + per-page (number, optional) -

        Pagination page size

        + Default: 20
        + Sample: 10
    + cursor (string, optional)

        Pagination cursor  
        The `Link` header will have a next page link available with the new cursor value, usually contains the last `uid` value from the response.

    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example entity.meta).

        + Members
            + `entity` 
            + `account` 
            + `tag` 


+ Response 200 (application/json)

        Item shares

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)





# Group Account

Account-related operations

## V2 Accounts Team Users By AccountUid [/v2/accounts/{accountUid}/team-users{?fields,expand,page,per-page,sort}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getTeamUsers [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include additional information (comma-separated).

        + Sample: ["remoteUsername"]
        + Members
            + `remoteUsername` 
            + `status` 

    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 100
        + Sample: 10
    + sort (array[string], optional)

        Pagination sorting, comma-separated list of attribute names, prepend with hyphen for descending order
        One of:
          * uid
          * email
          * name


+ Response 200 (application/json)

        Array of team users

    + Attributes (array[string])



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Team Users By AccountUid [/v2/accounts/{accountUid}/team-users{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### addTeamUser [POST]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include additional information (comma-separated).

        + Sample: ["remoteUsername"]
        + Members
            + `remoteUsername` 
            + `status` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (string)



+ Response 200 (application/json)

        User signed up / added

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Team Users By AccountUid [/v2/accounts/{accountUid}/team-users/{userUid}{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + userUid (string, required)

        User UID

        + Sample: Abc_123-XY

### getTeamUser [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include additional information (comma-separated).

        + Sample: ["remoteUsername"]
        + Members
            + `remoteUsername` 
            + `status` 


+ Response 200 (application/json)

        Team user

    + Attributes (string)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts [/v2/accounts{?fields,expand}]

### getAccounts [GET]
Returns available accounts
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained using a dot.

        + Sample: ["shares"]
        + Members
            + `shares` 
            + `stats` 


+ Response 200 (application/json)

        Array of accounts

    + Attributes (array[string])



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### createAccount [POST]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained using a dot.

        + Sample: ["shares"]
        + Members
            + `shares` 
            + `stats` 


+ Request (<<Add Header Value>>)

    + Attributes (V2 Accounts Request)



+ Response 200 (application/json)

        Account created

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts By AccountUid [/v2/accounts/{accountUid}{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getAccount [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained using a dot.

        + Sample: ["shares"]
        + Members
            + `shares` 
            + `stats` 


+ Response 200 (application/json)

        Account info

    + Attributes (string)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### updateAccount [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained using a dot.

        + Sample: ["shares"]
        + Members
            + `shares` 
            + `stats` 


+ Request (<<Add Header Value>>)

    + Attributes (V2 Accounts Request1)



+ Response 200 (application/json)

        Account info

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteAccount [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained using a dot.

        + Sample: ["shares"]
        + Members
            + `shares` 
            + `stats` 


+ Response 200 (application/json)

        Account info

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Permissions By AccountUid [/v2/accounts/{accountUid}/permissions]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getAccountPermissions [GET]

+ Response 200 (application/json)

        Permissions

    + Attributes (permissions)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Users By AccountUid [/v2/accounts/{accountUid}/users{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getAccountUsers [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Response 200 (application/json)

        Array of Account Users

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Users By AccountUid [/v2/accounts/{accountUid}/users/{userUid}{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + userUid (string, required)

        User UID

        + Sample: Abc_123-XY

### getAccountUser [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Account User

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### updateAccountUser [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (V2 Accounts Users Request)



+ Response 200 (application/json)

        Account User

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteAccountUser [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Account User

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Section Order By AccountUid [/v2/accounts/{accountUid}/section-order]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getSectionOrder [GET]

+ Response 200 (application/json)

        Account section order, if configured

    + Attributes (array[string])


    + Body

            [
              "asd",
              "asdf",
              "asdg"
            ]


+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### updateSectionOrder [PUT]
Unlisted sections will be ordered by name after listed sections

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (array[string])



+ Response 200 (application/json)

        Account section order

    + Attributes (array[number])



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Download By AccountUid [/v2/accounts/{accountUid}/download]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### downloadFilesAndFoldersBundle [GET]
To download whole account, omit files and folders properties  
Alternatively, POST request is also supported

+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/octet-stream)

        ZIP Archive




+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)





# Group Entity

Entity-related operations

## V2 Accounts Entities By AccountUid [/v2/accounts/{accountUid}/entities{?fields,expand,page,per-page,sort}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getEntities [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + sort (array[string], optional)

        Pagination sorting, comma-separated list of attribute names, prepend with hyphen for descending order
        One of:
          * uid
          * name
          * createdAt
          * updatedAt
          * type
          * retentionEnd


+ Response 200 (application/json)

        Section list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities By AccountUid [/v2/accounts/{accountUid}/entities/{entityUid}{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### getEntity [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Response 200 (application/json)

        Entity info

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### updateEntity [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>
            X-Folderit-Lock:<<Add Header Value>>


    + Attributes (V2 Accounts Entities Request)



+ Response 200 (application/json)

        Updated entity

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteEntity [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>
            X-Folderit-Lock:<<Add Header Value>>





+ Response 200 (application/json)

        Deleted entity

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Entities [/v2/accounts/{accountUid}/entities/{entityUid}/entities{?page,per-page,fields,expand,sort,sort-folders-first,extension}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### getEntitiesByParent [GET]
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]
    + sort (array[string], optional)

        Comma-separated list of attribute names, prepend with hyphen for descending order
        One of:
          * uid
          * name
          * date
          * due_date
          * size
          * mail_sender
          * retention_end
          * language
          * number
          * created_at
          * updated_at
          * recycle_date
          * creator
          * extension
          * meta:{uid}

        + Sample: ["date","name","-created_at"]
    + sort-folders-first (string, optional)

        Set folders to be sorted first in results

        + Sample: true
    + extension (string, optional)

        Filter by extension

        + Sample: png

+ Response 200 (application/json)

        Entity list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities All By AccountUid [/v2/accounts/{accountUid}/entities/all{?per-page,cursor,fields,expand,folders,files,parentUid,extension}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getAllEntities [GET]
+ Parameters
    + per-page (number, optional) -

        Pagination page size

        + Default: 20
        + Sample: 10
    + cursor (string, optional)

        Pagination cursor  
        The `Link` header will have a next page link available with the new cursor value, usually contains the last `uid` value from the response.

    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]
    + folders (string, optional)

        Include folders. If only specifying one, the other is opposite value

        + Sample: 1
    + files (string, optional)

        Include files. If only specifying one, the other is opposite value

        + Sample: 1
    + parentUid (string, optional)

        Limit response to entities below specific parent

        + Sample: Abc_123-XY
    + extension (string, optional)

        Filter by extension

        + Sample: png

+ Response 200 (application/json)

        Entity list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Parents [/v2/accounts/{accountUid}/entities/{entityUid}/parents{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### getEntityParents [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Response 200 (application/json)

        Parent entities list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Related [/v2/accounts/{accountUid}/entities/{entityUid}/related{?fields,expand,page,per-page,sort}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### getEntityRelatedItems [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 

    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 20
        + Sample: 10
    + sort (array[string], optional)

        Pagination sorting, comma-separated list of attribute names, prepend with hyphen for descending order
        One of:
          * uid
          * createdAt
          * entityUid


+ Request 
    + Headers

            X-Pagination:<<Add Header Value>>





+ Response 200 (application/json)

        Array of relations  
When `X-Pagination` header, `page`, `page-size` or `sort` parameter is present, the response will be paginated and include pagination-related headers.

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Related [/v2/accounts/{accountUid}/entities/{entityUid}/related{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### addEntityRelatedItem [POST]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>
            X-Folderit-Lock:<<Add Header Value>>


    + Attributes (V2 Accounts Entities Related Request)



+ Response 200 (application/json)

        Related item

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteEntityRelatedItem [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>
            X-Folderit-Lock:<<Add Header Value>>


    + Attributes (V2 Accounts Entities Related Request)



+ Response 200 (application/json)

        Related item

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Restore [/v2/accounts/{accountUid}/entities/{entityUid}/restore{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### restoreEntity [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (V2 Accounts Entities Restore Request)



+ Response 200 (application/json)

        Folder info

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Purge By AccountUid [/v2/accounts/{accountUid}/entities/{entityUid}/purge{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + entityUid (string, required)

        Entity UID

        + Sample: Abc_123-XY

### deleteEntityPermanently [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Purged entity info

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Action Duplicate [/v2/accounts/{accountUid}/entities/action/duplicate]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### duplicateEntities [POST]

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (duplicate)



+ Response 200 (application/json)

        Duplication status

    + Attributes (duplicationStatus)



+ Response 302 (application/json)

        Duplicate status URL

    + Attributes (V2 Accounts Entities Action Duplicate Response)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Entities Action Duplicate [/v2/accounts/{accountUid}/entities/action/duplicate/{statusKey}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + statusKey (string, required)

        Duplication status key

        + Sample: Abc_123-

### getDuplicationStatus [GET]

+ Response 200 (application/json)

        Duplication status data

    + Attributes (duplicationStatus)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Recycle Bin By AccountUid [/v2/accounts/{accountUid}/recycle-bin{?page,per-page,fields,expand,parentUid}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getRecycledEntities [GET]
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]
    + parentUid (string, optional)

        Limit response to entities below specific parent

        + Sample: Abc_123-XY

+ Response 200 (application/json)

        Recycled entity entries

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Recycle Bin By AccountUid [/v2/accounts/{accountUid}/recycle-bin{?page}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### emptyRecycleBin [DELETE]
Purge all entities from the recycle bin
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1

+ Response 204 

        All entities purged




+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 500 (application/json)

        Internal Server Error

    + Attributes (500serverError1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Shared Entities [/v2/accounts/{accountUid}/shared-entities{?page,per-page,fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getSharedEntities [GET]
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]

+ Response 200 (application/json)

        Shared entities

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Tags Entities By AccountUid [/v2/accounts/{accountUid}/tags/{tagUid}/entities{?per-page,cursor,fields,expand,extension}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + tagUid (string, required)

        Tag UID

        + Sample: Abc_123-XY

### getEntitiesByTag [GET]
+ Parameters
    + per-page (number, optional) -

        Pagination page size

        + Default: 20
        + Sample: 10
    + cursor (string, optional)

        Pagination cursor  
        The `Link` header will have a next page link available with the new cursor value, usually contains the last `uid` value from the response.

    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example file.people,file.version). sectionOrder is applicable to only root entities/sections.  
        meta can be specified with an UID identifier to only include that specific meta like this: `meta:abcde12345`. Fields are to be specified without UID identifier.

        + Sample: ["tags","extension","meta:abcde12345","file.version"]
    + extension (string, optional)

        Filter by extension

        + Sample: png

+ Response 200 (application/json)

        Entity list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)





# Group Folder

Folder-related operations

## V2 Accounts Folders Files By AccountUid [/v2/accounts/{accountUid}/folders/{folderUid}/files{?page,per-page,fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### getFilesByParent [GET]
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.parent.parent)

        + Members
            + `parent` 
            + `meta` 
            + `people` 
            + `tags` 
            + `reminders` 
            + `shares` 
            + `fileRelations` 
            + `version` 


+ Response 200 (application/json)

        File list

    + Attributes (array[string])



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Reports File List [/v2/accounts/{accountUid}/reports/file-list{?fields,limit,last}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getAccountFileReport [GET]
Use [`GET /v2/accounts/{accountUid}/entities/all`](#tag/Entity/operation/getAllEntities) instead
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + limit (number, optional) -

        File count limit

        + Default: 10000
        + Sample: 1
    + last (string, optional)

        Start output after this UID

        + Sample: Abc_123-XY

+ Response 200 (application/json)

        File list

    + Attributes (array[File3])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders By AccountUid [/v2/accounts/{accountUid}/folders{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getFolders [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Response 200 (application/json)

        Section list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### createFolder [POST]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (string)



+ Response 200 (application/json)

        Created section/folder

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders By AccountUid [/v2/accounts/{accountUid}/folders/{folderUid}{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### getFolder [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Response 200 (application/json)

        Folder info

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### updateFolder [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (V2 Accounts Folders Request)



+ Response 200 (application/json)

        Updated folder

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteFolder [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Deleted folder

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders Email By AccountUid [/v2/accounts/{accountUid}/folders/{folderUid}/email]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### configureFolderEmail [POST]
Request body is optional, action defaults to `activate`

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (string)



+ Response 200 (application/json)

        Mail-in address info

    + Attributes (Mailin address)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteFolderEmail [DELETE]

+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Mail-in address info

    + Attributes (Mailin address)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### requestNewFolderEmailAddress [PUT]

+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Mail-in address info

    + Attributes (Mailin address)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders Permissions [/v2/accounts/{accountUid}/folders/{folderUid}/permissions]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### getFolderPermissions [GET]

+ Response 200 (application/json)

        Permissions

    + Attributes (folderpropertiespermissions)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders Folders [/v2/accounts/{accountUid}/folders/{folderUid}/folders{?page,per-page,fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### getFolderByParent [GET]
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Response 200 (application/json)

        Folder list

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders Related [/v2/accounts/{accountUid}/folders/{folderUid}/related{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### getFolderRelatedItems [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Response 200 (application/json)

        Array of relations

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### addFolderRelatedItem [POST]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (V2 Accounts Folders Related Request)



+ Response 200 (application/json)

        Related item

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteFolderRelatedItem [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated) from the expanded variant of response.

        + Members
            + `property1` 
            + `property2` 
            + `property3` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (V2 Accounts Folders Related Request)



+ Response 200 (application/json)

        Related item

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders Restore [/v2/accounts/{accountUid}/folders/{folderUid}/restore{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### restoreFolder [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>


    + Attributes (V2 Accounts Folders Restore Request)



+ Response 200 (application/json)

        Folder info

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Folders Purge By AccountUid [/v2/accounts/{accountUid}/folders/{folderUid}/purge{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + folderUid (string, required)

        Folder UID

        + Sample: Abc_123-XY

### deleteFolderPermanently [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Request 
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>





+ Response 200 (application/json)

        Purged folder info

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Recycle Bin Folders [/v2/accounts/{accountUid}/recycle-bin/folders{?page,per-page,fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getRecycledFolders [GET]
+ Parameters
    + page (number, optional)

        Pagination page

        + Sample: 1
    + per-page (number, optional) -

        Pagination page size

        + Default: 500
        + Sample: 10
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.shares). sectionOrder is applicable to only sections.

        + Sample: ["parent","meta"]
        + Members
            + `parent` 
            + `meta` 
            + `shares` 
            + `extra` 
            + `sectionOrder` 
            + `inboxFolder` 
            + `teamFolder` 
            + `folderStats` 
            + `sort` 
            + `viewType` 


+ Response 200 (application/json)

        Recycle bin folder entries

    + Attributes (array[string])



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Shared Items By AccountUid [/v2/accounts/{accountUid}/shared-items{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### getSharedFilesAndFolders [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.parent.parent)

        + Members
            + `parent` 
            + `meta` 
            + `people` 
            + `tags` 
            + `reminders` 
            + `shares` 
            + `fileRelations` 


+ Response 200 (application/json)

        Shared files and folders

    + Attributes (V2 Accounts Shared Items Response)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)





# Group File

File-related operators

## V2 Accounts Files Upload By AccountUid [/v2/accounts/{accountUid}/files/upload]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY

### uploadFile [POST]

+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>
            X-Folderit-Lock:<<Add Header Value>>


    + Attributes (string)



+ Response 200 (application/json)

        Uploader response

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)




## V2 Accounts Files By AccountUid [/v2/accounts/{accountUid}/files/{fileUid}{?fields,expand}]

+ Parameters
    + accountUid (string, required)

        Account UID

        + Sample: Abc_123-XY
    + fileUid (string, required)

        File UID

        + Sample: Abc_123-XY

### getFile [GET]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.parent.parent)

        + Members
            + `parent` 
            + `meta` 
            + `people` 
            + `tags` 
            + `reminders` 
            + `shares` 
            + `fileRelations` 
            + `version` 


+ Response 200 (application/json)

        File info

    + Attributes (string)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### updateFile [PUT]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.parent.parent)

        + Members
            + `parent` 
            + `meta` 
            + `people` 
            + `tags` 
            + `reminders` 
            + `shares` 
            + `fileRelations` 
            + `version` 


+ Request (<<Add Header Value>>)
    + Headers

            X-Folderit-Request-Key:<<Add Header Value>>
            X-Folderit-Lock:<<Add Header Value>>


    + Attributes (V2 Accounts Files Request)



+ Response 200 (application/json)

        File info

    + Attributes (string)



+ Response 400 (application/json)

        Bad Request

    + Attributes (400badRequest1)



+ Response 403 (application/json)

        Forbidden

    + Attributes (403forbidden1)



+ Response 404 (application/json)

        Not Found

    + Attributes (404notFound1)



+ Response 422 (application/json)

        Unprocessable entity

    + Attributes (422unprocessableEntity1)



+ Response 409 (application/json)

        Conflict

    + Attributes (409conflict1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (401unauthorized1)



### deleteFile [DELETE]
+ Parameters
    + fields (array[string], optional)

        Include only listed fields in response (comma-separated). Use asterisk (*) for including all original fields (useful for combining with `expand`). Can be chained (for example field.subField).

        + Sample: ["uid","name"]
    + expand (array[string], optional)

        Include related information (comma-separated). Can be chained (for example parent.parent.parent)

        + Members
            + `parent` 
            + `meta` 
            + `people` 
            + `tags` 
            + `reminders` 
            + `shares` 
            + `fileRelations` 
            + `version` 


+ Request 
    + Headers

[...]
