#%RAML 1.0
title: Folderit API
version: 2.0.71
baseUri: https://api.folderit.com
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: Folderit API
  content: "# Changes\n\n### 2025.08.24 - 2.0.71\n* Permission properties now support narrowing with the `fields` parameter.\n\n### 2025.08.22 - 2.0.70\n* Automatically expand requested fields, expand parameter is not required for the fields listed under the expanded variants\n* Add `thumbnails` property to File and FileVersion schemas\n\n### 2025.08.21 - 2.0.69\n* Add extension filter to [entities by parent](#tag/Entity/operation/getEntitiesByParent), [entities by tag](#tag/Entity/operation/getEntitiesByTag) and [all entities](#tag/Entity/operation/getAllEntities)\n\n### 2025.08.12 - 2.0.68\n* Add `parentUid` query parameter to [Recycled entities](#tag/Entity/operation/getRecycledEntities)\n\n### 2025.08.11 - 2.0.67\n* Add `position` as an expandable field to a team user\n\n### 2025.08.10 - 2.0.66\n* Alter [Team users](#tag/Account/operation/getTeamUsers) endpoint to a paginated response, add groups as an expandable field to a team user\n\n### 2025.07.31 - 2.0.65\n* Add lockId to [Lock a file](#tag/File/operation/lockFilePost) request  \n  Unlocking is supported only with a [PUT request](#tag/File/operation/unlockFile2)\n\n### 2025.07.29 - 2.0.64\n* Add teamUserStatus field to [account users](#tag/Account/operation/getAccountUsers) and status field to [account team users](#tag/Account/operation/getTeamUsers)\n\n### 2025.07.24 - 2.0.63\n* Add an optional operator to the search filter filterItem->number\n\n### 2025.07.01 - 2.0.62\n* Add account stats expandable field\n\n### 2025.06.10 - 2.0.61\n* Add paginated response variants to [reminder listings](#tag/Reminder)\n* Add recurrence property to [update a Reminder](#tag/Reminder/operation/updateReminder)\n\n### 2025.06.04 - 2.0.60\n* Add a method to [empty the recycle bin](#tag/Entity/operation/emptyRecycleBin)\n\n### 2025.06.03 - 2.0.59\n* Add the size property to [file versions](#tag/File/operation/getFileVersions)\n* Add a paginated response variant to [file versions listing](#tag/File/operation/getFileVersions)\n* Fetch multiple entities by UID at [Sections/entities](#tag/Entity/operation/getEntities)\n* [Duplication of entities](#tag/Entity/operation/duplicateEntities)\n* Add a paginated response variant to [related entities listing](#tag/Entity/operation/getEntityRelatedItems)\n\n### 2025.05.26 - 2.0.58\n* Add operationId to all paths\n\n### 2025.04.17 - 2.0.57\n* Add method property to resolution workflow audit trail data property\n\n### 2025.04.06 - 2.0.56\n* Add 2 new paths for fetching tags, add pagination and sorting to existing tag listing\n  * [Get only root tags](#tag/Tag/operation/getRootTags) \n  * [Get sub-tags](#tag/Tag/operation/getSubTags) \n* Add [Search entities](#tag/Search/operation/searchEntities) endpoint\n\n### 2025.04.02 - 2.0.55\n* Add [resolutions](#tag/Resolution) and [workflows](#tag/Workflow)\n* Add resolutionSupport extendable property to Entity\n\n### 2025.03.27 - 2.0.54\n* Add `options` as an expandable field to Meta\n\n### 2025.03.26 - 2.0.53\n* Add [entities by tag](#tag/Entity/operation/getEntitiesByTag) endpoint\n\n### 2025.02.03 - 2.0.52\n* Add more granular permissions for account sharing\n\n### 2025.01.20 - 2.0.51\n* Add `recurrence` property to reminders\n\n### 2025.01.17 - 2.0.50\n* Add `time` property to file lock requests for custom lock duration\n\n### 2024.12.09 - 2.0.49\n* Add `source` field to retention for customizing the source attribute for calculating the retention end time\n\n### 2024.11.13 - 2.0.48\n* Add `accountWatermarking` audit trail event\n\n### 2024.11.13 - 2.0.47\n* Add `timeFormat` as expandable field to User\n\n### 2024.10.25 - 2.0.46\n* Added comment field for workflow responses in audit trail\n\n### 2024.10.10 - 2.0.45\n* Added accountTeamUserManagedInvite, accountTeamUserManagedInviteDelete, accountTeamUserManagedAccept and accountTeamUserManagedReject audit trail events\n\n### 2024.09.17 - 2.0.44\n* Deprecate Account file report [`GET /v2/accounts/{accountUid}/reports/file-list`](#tag/File/operation/getAccountFileReport)\n\n### 2024.09.10 - 2.0.43\n* Meta of type `float` is renamed from Float to Decimal, type field stays the same for compatibility.  \n  Value is represented as a string for compatibility with higher precisions and larger values.\n* Change asic entity type text representation from `asic` to `file`\n* Add prefix and wildcard search operators for meta filters\n\n### 2024.09.02 - 2.0.42\n* Add `language` to the composable filter of search\n\n### 2024.09.02 - 2.0.41\n* Add an expandable field `activeUser` to audit trails. Present, when a substitute user performed the action.\n\n### 2024.07.26 - 2.0.40\n* File and folder retention audit events contain no `data` property any more on removal of retention\n* Add `cause` to audit trails to mark actions performed by background processes. Initially the only option is `retention`.\n* Add all entities listing endpoint: [`GET /v2/accounts/{accountUid}/entities/all`](#tag/Entity/operation/getAllEntities)\n\n### 2024.06.14 - 2.0.39\n* Mark inbox and team folders as nullable fields for Account\n\n### 2024.05.27 - 2.0.38\n* Fix Audit trail sync-log id field value\n* Add `sort` and `viewType` expandable fields to Folder\n\n### 2024.05.23 - 2.0.37\n* Search: add `uid` to queryFilter list \n\n### 2024.04.26 - 2.0.36\n* Add `visibleColumnsWithMeta` as expandable field to Folder to get meta columns with names\n\n### 2024.04.18 - 2.0.35\n* Add `remoteUsername` as expandable field to Team user\n\n### 2024.04.16 - 2.0.34\n* Add redirect Location url in content as well\n* Add `creator` as expandable field to Entity\n* Include response samples with all expanded fields.  \n  Note: It is recommended to ask for as few fields as is necessary as there are optimizations in place in the background for generating responses. This goes for both default fields and extra related data using expand option. For example, when requesting for all entities under a parent with tags, meta etc, if You don't need to have permissions for each related piece, do not request for them. A sample get param would be: `?fields=uid,name,tags.uid,tags.name,meta.meta.uid,meta.value&expand=tags,meta:myMetaUid,meta:myOtherMetaUid`\n\n### 2024.04.11 - 2.0.33\n* Add sorting to entities by parent endpoint: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/entities`](#tag/Entity/operation/getEntitiesByParent)\n* Add `extension` as expandable field to Entity\n* Add `size` as expandable field to Entity\n\n### 2024.04.10 - 2.0.32\n* Update folder column attribute options list\n* Add `tags` as expandable field to Entity\n* Add `dateFormat` as expandable field to User\n\n### 2024.03.20 - 2.0.31\n* Add `meta:UID` expand field to entities\n\n### 2024.03.18 - 2.0.30\n* Get a list of parents for an entity: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/parents`](#tag/Entity/operation/getEntityParents)\n* Add isRoot property to entity\n\n### 2024.03.11 - 2.0.29\n* Add sectionOrder property to entity and folder models (applicable to only root entities/sections)\n* Add folderStats property to entity and folder models\n* Add inboxFolder and teamFolder properties to entity and folder models\n\n### 2024.01.09 - 2.0.28\n* Add account as an expandable relation to Entity\n\n### 2023.11.24 - 2.0.27\n* Add highlight expand field for search results\n\n### 2023.11.22 - 2.0.26\n* Add `version` expandable field to `File` objects\n\n### 2023.10.30 - 2.0.25\n* Add fileUpdateContent and fileUpdateOnline permissions to file\n* Add canShareCustomPermissions to Account permissions list\n  * Without this permission, You can only set the role property for a share, no settings\n\n### 2023.10.22 - 2.0.24\n* Add endpoints for getting shares to a specific user\n  * Get direct shares to a specific user: [`GET /v2/accounts/{accountUid}/users/{userUid}/shares`](#tag/Share/operation/getUserShares)\n  * Get all shares (including through group memberships) accessible by a specific user: [`GET /v2/accounts/{accountUid}/users/{userUid}/access`](#tag/Share/operation/getAllUserShares)\n* Add documentation for fetching share info: [`GET /v2/accounts/{accountUid}/shares/{shareUid}`](#tag/Share/operation/getShare)\n* Add settings property to shares\n\n### 2023.10.18 - 2.0.23\n* Add missing endpoint documentation for tag sharing\n  * Get tag shares: [`GET /v2/accounts/{accountUid}/tags/{tagUid}/shares`](#tag/Tag/operation/getTagShares)\n  * Share a tag: [`POST /v2/accounts/{accountUid}/tags/{tagUid}/shares`](#tag/Tag/operation/addTagShares)\n\n### 2023.10.18 - 2.0.22\n* Add group expand parameters to doc\n\n### 2023.09.20 - 2.0.21\n* Add composable filter and scoring option to file/folder searches\n  * *filter* property can contain a nested set of familiar filters to create a required composite set of filters\n  * *scoring* property is used to force scoring even when we're not doing search by query directly (only filtering)  \n    Scoring results are not guaranteed to be sensible\n\n### 2023.09.19 - 2.0.20\n* Added fileOnlineView and fileOnlineEdit audit trail events\n\n### 2023.09.14 - 2.0.19\n* Sections list is now available for partially accessible accounts, canGetSections property indicates that all sections are guaranteed to be accessible\n* Share items to user by userUid\n\n### 2023.09.03 - 2.0.18\n* Enable moving tags around\n\n### 2023.08.30 - 2.0.17\n* Add `isUsed` attribute to Meta Select Option\n* Add tag management to entities for a single point to manage tags for all types of entities\n* Tag sharing\n* Add tagUid filter to file/folder search endpoints\n\n### 2023.08.10 - 2.0.16\n* Add searchAfter field to file/folder search endpoints for paging over more than 10000 results.\n\n### 2023.07.31 - 2.0.15\n* Add sorting to file/folder search endpoints\n\n### 2023.03.05 - 2.0.14\n* Reminders for all types of entities\n  * Added two endpoints, one specifically for folders, other for any type of entity\n  * Folders: [`GET /v2/accounts/{accountUid}/folders/{folderUid}/reminders`](#tag/Reminder/operation/getFolderReminders)\n  * Entities: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/reminders`](#tag/Reminder/operation/getEntityReminders)\n* Related items to all types of entities of all types  \n  * Added two endpoints, one specifically for folders, other for any type of entity\n  * Folders: [`GET /v2/accounts/{accountUid}/folders/{folderUid}/related`](#tag/Folder/operation/getFolderRelatedItems)\n  * Entities: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/related`](#tag/Entity/operation/getEntityRelatedItems)\n* Meta for all items, new endpoint is under entities: [`GET /v2/accounts/{accountUid}/entities/{entityUid}/meta`](#tag/Entity/operation/getEntityMeta)\n\n### 2023.02.21 - 2.0.13\n* Add new request header `X-Folderit-Request-Key` to make it possible to differentiate audit trails resulting from your own requests\n* Add audit trail endpoint tailored for file syncing: [`GET /v2/accounts/{accountUid}/audit/syncLog`](#tag/Audit/operation/getFileSyncLog)\n* Add `extra` field to the expand list of folder and entity, which gives access to number, note, date etc.\n* Add `extra` field to folder and entity update endpoints\n\n### 2023.01.23 - 2.0.12\n* Add includeFiles, includeLinks and includeFolders fields for FolderMeta\n\n### 2022.07.22 - 2.0.11\n* Add groups as group members ([GET group all members](#operation/getGroupMembers))\n* Add [Entity endpoint](#tag/Entity) for a unified access to directory structure (access to all types of entities like folders, files, links and more in the future)\n\n### 2022.04.13 - 2.0.10\n* Add `fields` and `expand` query parameters to paths resulting in accounts, folders and files\n  * `fields` parameter can be used to reduce amount of data returned. For example: `fields=uid,name`\n  * `expand` parameter can be used to fetch related objects with the request, for example fetching meta with a file list.\n    * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/files?expand=meta,people,tags`](#tag/Folder/operation/getFilesByParent) includes meta, people and tags arrays with each file\n  * `expand` and `fields` can be combined to get all fields of the initial object, but only a few from a related object:\n    * `fields=*,meta.value,meta.meta.name&expand=meta`\n* Search result updates for autocomplete [`GET /v2/accounts/{accountUid}/search/simple`](#tag/Search/operation/searchAutocomplete) and [`GET /v2/accounts/{accountUid}/search/files`](#tag/Search/operation/searchFiles):\n  * Mark file search result pathUid property as deprecated\n  * Add mimeType property to file search results\n\n### 2022.04.06 - 2.0.9\n* Add email as a required field for signing up team users via [`POST /v2/accounts/{accountUid}/team-users`](#tag/Account/operation/addTeamUser)\n\n### 2022.04.02 - 2.0.8\n* Add new audit events\n  * fileDuplicate\n  * folderDuplicate\n  * folderSubfileDuplicate\n  * folderSubfolderDuplicate\n  * accountSectionDuplicate\n* Add userUid and groupUid to Audit Trail Share data\n* Audit trail fileDownload events now have fileVersionUid data\n\n### 2022.02.23 - 2.0.7\n* Add folder import emails (mailInAddress)\n  * Activate an address for importing mails to any folder (in contrast to Inbox section, which always has a static address)\n    * Activate address: [`POST /v2/accounts/{accountUid}/folders/{folderUid}/email`](#tag/Folder/operation/configureFolderEmail)\n    * Deactivate existing address: [`DELETE /v2/accounts/{accountUid}/folders/{folderUid}/email`](#tag/Folder/operation/deleteFolderEmail)\n    * Reset (active or deleted) address to get a new random key: [`PUT /v2/accounts/{accountUid}/folders/{folderUid}/email`](#tag/Folder/operation/requestNewFolderEmailAddress)\n  * If You prefer to only use POST requests, use `action` parameter in request body\n\n### 2022.02.13 - 2.0.6\n* Add dateFrom and dateTo filters for file search\n* Add file report [`GET /v2/accounts/{accountUid}/reports/file-list`](#tag/File/operation/getAccountFileReport)\n\n### 2022.01.24 - 2.0.5\n* Add new audit event: fileResolutionDelete\n\n### 2022.01.22 - 2.0.4\n* Adjusted field names in error responses to correct names\n\n### 2022.01.16 - 2.0.3\n* Added pagination\n  * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/folders`](#tag/Folder/operation/getFolderByParent)\n  * [`GET /v2/accounts/{accountUid}/recycle-bin/folders`](#tag/Folder/operation/getRecycledFolders)\n  * [`GET /v2/accounts/{accountUid}/recycle-bin/files`](#tag/File/operation/getRecycledFiles)\n\n### 2022.01.14 - 2.0.2\n* Fix Folder visibleColumns meta column spec\n\n### 2022.01.14 - 2.0.1\n* Added `page-size` parameter to paths that already had `page` parameter\n  * [`GET /v2/accounts/{accountUid}/audit/accountLog`](#tag/Audit/operation/getAccountRecentAuditTrail)\n  * [`GET /v2/accounts/{accountUid}/audit`](#tag/Audit/operation/getAccountAuditTrail)\n  * [`GET /v2/accounts/{accountUid}/files/{fileUid}/audit`](#tag/Audit/operation/getFileAuditTrail)\n  * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/audit`](#tag/Audit/operation/getFolderAuditTrail)\n  * [`GET /v2/accounts/{accountUid}/groups`](#tag/Group/operation/getGroups)\n* Added pagination\n  * [`GET /v2/accounts/{accountUid}/folders/{folderUid}/files`](#tag/File/operation/getFilesByParent)\n* Added missing pagination documentation\n  * [`GET /v2/accounts/{accountUid}/groups/{groupUid}/users`](#tag/Group/operation/getGroupUsers)\n\n### 2021.12.19 - 2.0.0\nAPI v2 comes with multiple breaking changes. Most notably:\n* Removed any reference to object `ID`s. Instead we are now using `UID`s. UIDs are globally unique and have a data type of CHAR(10)\n* Paths now include `accountUid` as required parameter\n* `accountId` paramater has been removed from request body parameters as `accountUid` is now always part of the path parameters for Account-related requests\n* New tags and people/signees can be created directly without attaching them to a file from [`POST /v2/accounts/{accountUid}/tags`](#tag/Tag/operation/addTag) and [`POST /v2/accounts/{accountUid}/people`](#tag/Person/operation/addPerson)\n* Removed deprecated paths and parameters\n\n#### New features\n* Audit trail: added new tag and person/signee events on Account level\n  * tagNew\n  * tagDelete\n  * tagName\n  * signeeNew\n  * signeeDelete\n  * signeeName\n* Search\n  * Added queryFilter options to File search\n    * number\n    * mailSubject\n    * mailSenderEmail\n    * mailSenderName\n    * mailContent\n  * Added filter fields to File search\n    * number\n    * mailSubject\n    * mailSenderEmail\n    * mailSenderName\n    * mailContent\n\n#### Detailed changes to paths:\n* Removed paths:\n  * /files\n  * /files/{fileId}\n  * /folders\n  * /folders/{folderId}\n  * /accounts/{accountId}/recycle-bin\n  * /meta/{metaId}\n  * /files/search\n  * /folders/search\n  * /download\n  * /audit/files/{fileId}\n  * /audit/folders/{folderId}\n* New paths:\n  * /v2/accounts/{accountUid}/files/{fileUid}/preview\n  * /v2/accounts/{accountUid}/files/{fileUid}/versions/{fileVersionUid}/download\n* Changed paths:\n  * /files/upload -> /v2/accounts/{accountUid}/files/upload\n  * /files/single/{fileId} -> /v2/accounts/{accountUid}/files/{fileUid}\n  * /files/{fileId}/permissions -> /v2/accounts/{accountUid}/files/{fileUid}/permissions\n  * /files/{fileId}/lock -> /v2/accounts/{accountUid}/files/{fileUid}/lock\n  * /files/{fileId}/unlock -> /v2/accounts/{accountUid}/files/{fileUid}/unlock\n  * /files/{fileId}/related -> /v2/accounts/{accountUid}/files/{fileUid}/related\n  * /files/{fileId}/restore -> /v2/accounts/{accountUid}/files/{fileUid}/restore\n  * /files/{fileId}/purge -> /v2/accounts/{accountUid}/files/{fileUid}/purge\n  * /files/{fileId}/versions -> /v2/accounts/{accountUid}/files/{fileUid}/versions\n  * /files/{fileId}/versions/{fileVersionId} -> /v2/accounts/{accountUid}/files/{fileUid}/versions/{fileVersionUid}\n  * /files/download/{fileId} -> /v2/accounts/{accountUid}/files/{fileUid}/download\n  * /files/versions/{fileVersionId}/preview -> /v2/accounts/{accountUid}/files/{fileUid}/versions/{fileVersionUid}/preview\n  * /files/{fileId}/unpack -> /v2/accounts/{accountUid}/files/{fileUid}/unpack\n  * /files/unpack-status/{key} -> /v2/accounts/{accountUid}/unpack/status/{key}\n  * /files/unpack-check -> /v2/accounts/{accountUid}/unpack/check\n  * /files/languages -> /v2/accounts/{accountUid}/document-languages\n  * /folders/single/{folderId} -> /v2/accounts/{accountUid}/folders/{folderUid}\n  * /files/people/{personId} -> /v2/accounts/{accountUid}/people/{personUid}\n  * /files/people/{personId}/permissions -> /v2/accounts/{accountUid}/people/{personUid}/permissions\n  * /folders/{folderId}/files -> /v2/accounts/{accountUid}/folders/{folderUid}/files\n  * /folders/single/{folderId} -> /v2/accounts/{accountUid}/folders/{folderUid}\n  * /folders/{folderId}/permissions -> /v2/accounts/{accountUid}/folders/{folderUid}/permissions\n  * /folders/{folderId}/folders -> /v2/accounts/{accountUid}/folders/{folderUid}/folders\n  * /folders/{folderId}/restore -> /v2/accounts/{accountUid}/folders/{folderUid}/restore\n  * /folders/{folderId}/purge -> /v2/accounts/{accountUid}/folders/{folderUid}/purge\n  * /groups/{groupId} -> /v2/accounts/{accountUid}/groups/{groupUid}\n  * /groups/{groupId}/permissions -> /v2/accounts/{accountUid}/groups/{groupUid}/permissions\n  * /groups/{groupId}/shares -> /v2/accounts/{accountUid}/groups/{groupUid}/shares\n  * /groups/{groupId}/users -> /v2/accounts/{accountUid}/groups/{groupUid}/users\n  * /groups/{groupId}/users/{userId} -> /v2/accounts/{accountUid}/groups/{groupUid}/users/{userUid}\n  * /groups/{groupId}/users/{userId}/permissions -> /v2/accounts/{accountUid}/groups/{groupUid}/users/{userUid}/permissions\n  * /meta/{metaId}/permissions -> /v2/accounts/{accountUid}/meta/{metaUid}/permissions\n  * /files/{fileId}/meta -> /v2/accounts/{accountUid}/files/{fileUid}/meta\n  * /files/{fileId}/meta/{metaId} -> /v2/accounts/{accountUid}/files/{fileUid}/meta/{metaUid}\n  * /files/{fileId}/meta/active -> /v2/accounts/{accountUid}/files/{fileUid}/active-meta\n  * /folders/{folderId}/meta -> /v2/accounts/{accountUid}/folders/{folderUid}/meta\n  * /folders/{folderId}/meta/{metaId} -> /v2/accounts/{accountUid}/folders/{folderUid}/meta/{metaUid}\n  * /folders/{folderId}/meta/active -> /v2/accounts/{accountUid}/folders/{folderUid}/active-meta\n  * /files/people/{personId} -> /v2/accounts/{accountUid}/people/{personUid}\n  * /files/people/{personId}/permissions -> /v2/accounts/{accountUid}/people/{personUid}/permissions\n  * /files/{fileId}/people -> /v2/accounts/{accountUid}/files/{fileUid}/people\n  * /files/{fileId}/people/{personId} -> /v2/accounts/{accountUid}/files/{fileUid}/people/{personUid}\n  * /files/reminders/{reminderId} -> /v2/accounts/{accountUid}/reminders/{reminderUid}\n  * /files/{fileId}/reminders -> /v2/accounts/{accountUid}/files/{fileUid}/reminders\n  * /search/extensions -> /v2/accounts/{accountUid}/search/extensions\n  * /search/files -> /v2/accounts/{accountUid}/search/files\n  * /search/folders -> /v2/accounts/{accountUid}/search/folders\n  * /search/simple -> /v2/accounts/{accountUid}/search/simple\n  * /shares/{shareId} -> /v2/accounts/{accountUid}/shares/{shareUid}\n  * /shares/{shareId}/permissions -> /v2/accounts/{accountUid}/shares/{shareUid}/permissions\n  * /files/{fileId}/shares -> /v2/accounts/{accountUid}/files/{fileUid}/shares\n  * /folders/{folderId}/shares -> /v2/accounts/{accountUid}/folders/{folderUid}/shares\n  * /files/tags/{tagId} -> /v2/accounts/{accountUid}/tags/{tagUid}\n  * /files/tags/{tagId}/permissions -> /v2/accounts/{accountUid}/tags/{tagUid}/permissions\n  * /files/{fileId}/tags -> /v2/accounts/{accountUid}/files/{fileUid}/tags\n  * /files/{fileId}/tags/{tagId} -> /v2/accounts/{accountUid}/files/{fileUid}/tags/{tagUid}\n  * /audit/accountLog/{accountId} -> /v2/accounts/{accountUid}/audit/accountLog\n  * /files/{fileId}/audit -> /v2/accounts/{accountUid}/files/{fileUid}/audit\n  * /folders/{folderId}/audit -> /v2/accounts/{accountUid}/folders/{folderUid}/audit"
securitySchemes:
  OAuth:
    type: OAuth 2.0
    description: "This API uses [OAuth 2.0](https://oauth.net/2/) for authentication. Available grant types are described below.  \nAccess Tokens should be used as a Bearer credential and transmitted in an HTTP Authorization header to the API.\n"
    settings:
      authorizationUri: https://auth.folderit.com/oauth2/auth
      accessTokenUri: https://auth.folderit.com/oauth2/token
      authorizationGrants:
      - authorization_code
      - client_credentials
      scopes: []
securedBy:
- openIdConnect
- OAuth_authorization_code
- OAuth_client_credentials
types:
  Userprovider:
    displayName: Userprovider
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      providerId:
        required: false
        example:
          value: google
        displayName: providerId
        type: string
      providerValue:
        required: false
        example:
          value: johnSmith@gmail.com
        displayName: providerValue
        type: string
      providerName:
        required: false
        example:
          value: John Smith
        displayName: providerName
        type: string
  User:
    displayName: User
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        type: string
        maxLength: 255
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      locale:
        required: false
        example:
          value: en-GB
        displayName: locale
        type: string
        maxLength: 16
      planId:
        required: false
        example:
          value: 10
        displayName: planId
        type: integer
        format: int32
      companyName:
        required: false
        example:
          value: My company name
        displayName: companyName
        type: string
        maxLength: 255
      phone:
        required: false
        example:
          value: +123 456 7890
        displayName: phone
        type:
        - string
        - nil
        maxLength: 255
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: false
        displayName: countryCode
        type: string
        maxLength: 2
      taxNo:
        required: false
        example:
          value: EE123456789
        displayName: taxNo
        type:
        - string
        - nil
        maxLength: 255
      registerNo:
        required: false
        example:
          value: '12345678'
        displayName: registerNo
        type:
        - string
        - nil
        maxLength: 255
      title:
        required: false
        example:
          value: Mr.
        displayName: title
        type:
        - string
        - nil
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
      userType:
        required: false
        displayName: userType
        type: string
        enum:
        - private
        - company
      defaultAccountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: defaultAccountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      timezone:
        required: false
        examples:
          Untitled Example1:
            value: Europe/London
          Untitled Example2:
            value: Europe/Tallinn
        displayName: timezone
        type: string
      providers:
        required: false
        displayName: providers
        type: array
        items:
          type: Userprovider
  User(withexpandfields):
    displayName: User(withexpandfields)
    type: object
    properties:
      dateFormat:
        required: false
        displayName: dateFormat
        type: string
      timeFormat:
        required: false
        displayName: timeFormat
        type: string
  User(withexpandedfields):
    displayName: User(withexpandedfields)
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        type: string
        maxLength: 255
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      locale:
        required: false
        example:
          value: en-GB
        displayName: locale
        type: string
        maxLength: 16
      planId:
        required: false
        example:
          value: 10
        displayName: planId
        type: integer
        format: int32
      companyName:
        required: false
        example:
          value: My company name
        displayName: companyName
        type: string
        maxLength: 255
      phone:
        required: false
        example:
          value: +123 456 7890
        displayName: phone
        type:
        - string
        - nil
        maxLength: 255
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: false
        displayName: countryCode
        type: string
        maxLength: 2
      taxNo:
        required: false
        example:
          value: EE123456789
        displayName: taxNo
        type:
        - string
        - nil
        maxLength: 255
      registerNo:
        required: false
        example:
          value: '12345678'
        displayName: registerNo
        type:
        - string
        - nil
        maxLength: 255
      title:
        required: false
        example:
          value: Mr.
        displayName: title
        type:
        - string
        - nil
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
      userType:
        required: false
        displayName: userType
        type: string
        enum:
        - private
        - company
      defaultAccountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: defaultAccountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      timezone:
        required: false
        examples:
          Untitled Example1:
            value: Europe/London
          Untitled Example2:
            value: Europe/Tallinn
        displayName: timezone
        type: string
      providers:
        required: false
        displayName: providers
        type: array
        items:
          type: Userprovider
      dateFormat:
        required: false
        displayName: dateFormat
        type: string
      timeFormat:
        required: false
        displayName: timeFormat
        type: string
  Private:
    displayName: Private
    type: object
    properties:
      userType:
        required: true
        displayName: userType
        type: string
        enum:
        - private
        - company
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: false
        displayName: countryCode
        type: string
        maxLength: 2
      name:
        required: false
        displayName: name
        type: string
        maxLength: 255
  userBillingBase:
    displayName: userBillingBase
    type: object
    properties:
      userType:
        required: true
        displayName: userType
        type: string
        enum:
        - private
        - company
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: false
        displayName: countryCode
        type: string
        maxLength: 2
  Company:
    displayName: Company
    type: object
    properties:
      userType:
        required: true
        displayName: userType
        type: string
        enum:
        - private
        - company
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: false
        displayName: countryCode
        type: string
        maxLength: 2
      name:
        required: false
        displayName: name
        type:
        - string
        - nil
        maxLength: 255
      companyName:
        required: false
        example:
          value: My company name
        displayName: companyName
        type: string
        maxLength: 255
      taxNo:
        required: false
        example:
          value: EE123456789
        displayName: taxNo
        type:
        - string
        - nil
        maxLength: 255
      registerNo:
        required: false
        example:
          value: '12345678'
        displayName: registerNo
        type:
        - string
        - nil
        maxLength: 255
  Usersignup:
    displayName: Usersignup
    type: object
    properties:
      email:
        required: true
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      companyName:
        required: false
        example:
          value: My company name
        displayName: companyName
        type: string
        maxLength: 255
      phone:
        required: false
        example:
          value: +123 456 7890
        displayName: phone
        type:
        - string
        - nil
        maxLength: 255
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: true
        displayName: countryCode
        type: string
        maxLength: 2
      taxNo:
        required: false
        example:
          value: EE123456789
        displayName: taxNo
        type:
        - string
        - nil
        maxLength: 255
      registerNo:
        required: false
        example:
          value: '12345678'
        displayName: registerNo
        type:
        - string
        - nil
        maxLength: 255
      title:
        required: false
        example:
          value: Mr.
        displayName: title
        type:
        - string
        - nil
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
      planId:
        required: false
        example:
          value: 10
        displayName: planId
        type: integer
        format: int32
      locale:
        required: false
        example:
          value: en-GB
        displayName: locale
        type: string
        maxLength: 16
      timezone:
        required: false
        examples:
          Untitled Example1:
            value: Europe/London
          Untitled Example2:
            value: Europe/Tallinn
        displayName: timezone
        type: string
      defaultAccountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: defaultAccountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      options:
        required: false
        displayName: options
        type: array
        items:
          type: Genericaction
  newUserSignup:
    displayName: newUserSignup
    type: object
    properties:
      email:
        required: true
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      companyName:
        required: true
        example:
          value: My company name
        displayName: companyName
        type: string
        maxLength: 255
      phone:
        required: false
        example:
          value: +123 456 7890
        displayName: phone
        type:
        - string
        - nil
        maxLength: 255
      address:
        required: false
        example:
          value: Street name 10
        displayName: address
        type: string
        maxLength: 255
      zip:
        required: false
        example:
          value: '12345'
        displayName: zip
        type: string
        maxLength: 255
      city:
        required: false
        example:
          value: City name
        displayName: city
        type: string
        maxLength: 255
      state:
        required: false
        example:
          value: State name
        displayName: state
        type: string
        maxLength: 255
      countryCode:
        required: true
        displayName: countryCode
        type: string
        maxLength: 2
      taxNo:
        required: false
        example:
          value: EE123456789
        displayName: taxNo
        type:
        - string
        - nil
        maxLength: 255
      registerNo:
        required: false
        example:
          value: '12345678'
        displayName: registerNo
        type:
        - string
        - nil
        maxLength: 255
      title:
        required: false
        example:
          value: Mr.
        displayName: title
        type:
        - string
        - nil
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
      planId:
        required: false
        example:
          value: 10
        displayName: planId
        type: integer
        format: int32
      locale:
        required: false
        example:
          value: en-GB
        displayName: locale
        type: string
        maxLength: 16
      timezone:
        required: false
        examples:
          Untitled Example1:
            value: Europe/London
          Untitled Example2:
            value: Europe/Tallinn
        displayName: timezone
        type: string
      defaultAccountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: defaultAccountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      options:
        required: false
        displayName: options
        type: array
        items:
          type: Genericaction
  Otheruser:
    displayName: Otheruser
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        description: User UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        description: User name
        type: string
        maxLength: 255
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        description: User email
        type: string
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
  Teamuser:
    displayName: Teamuser
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        type: string
        maxLength: 255
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
  Group:
    displayName: Group
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        example:
          value: My group
        displayName: name
        type: string
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      permissions:
        required: false
        displayName: permissions
        type: group_properties-permissions
  Sharesettings:
    displayName: Sharesettings
    type: object
    properties:
      isRecursive:
        required: false
        example:
          value: true
        displayName: isRecursive
        description: Apply these settings to entities below current target level
        type: boolean
      accountRead:
        required: false
        example:
          value: false
        displayName: accountRead
        description: View account-related data (groups, meta, ...)
        type: boolean
      accountDownload:
        required: false
        example:
          value: false
        displayName: accountDownload
        description: Download whole account contents at once
        type: boolean
      accountUpdate:
        required: false
        example:
          value: false
        displayName: accountUpdate
        description: Update account settings, groups, ...
        type: boolean
      accountShare:
        required: false
        example:
          value: false
        displayName: accountShare
        description: Share account to other users
        type: boolean
      accountAudit:
        required: false
        example:
          value: false
        displayName: accountAudit
        description: View account audit data
        type: boolean
      accountGroups:
        required: false
        example:
          value: false
        displayName: accountGroups
        description: Manage groups
        type: boolean
      accountUsers:
        required: false
        example:
          value: false
        displayName: accountUsers
        description: Manage users
        type: boolean
      accountMeta:
        required: false
        example:
          value: false
        displayName: accountMeta
        description: Manage meta
        type: boolean
      accountRecycleBin:
        required: false
        example:
          value: false
        displayName: accountRecycleBin
        description: Manage recycle bin
        type: boolean
      accountNumbering:
        required: false
        example:
          value: false
        displayName: accountNumbering
        description: Manage numbering
        type: boolean
      accountIdp:
        required: false
        example:
          value: false
        displayName: accountIdp
        description: Manage IdP
        type: boolean
      accountPasswordPolicy:
        required: false
        example:
          value: false
        displayName: accountPasswordPolicy
        description: Manage password policy
        type: boolean
      folderCreate:
        required: false
        example:
          value: false
        displayName: folderCreate
        description: Create a new folder
        type: boolean
      folderRead:
        required: false
        example:
          value: true
        displayName: folderRead
        description: List folders in a folder
        type: boolean
      folderDownload:
        required: false
        example:
          value: true
        displayName: folderDownload
        description: Download a folder
        type: boolean
      folderUpdate:
        required: false
        example:
          value: false
        displayName: folderUpdate
        description: Update folder data
        type: boolean
      folderMove:
        required: false
        example:
          value: false
        displayName: folderMove
        description: Move folder to new location (requires folderCreate permission at new location)
        type: boolean
      folderDelete:
        required: false
        example:
          value: false
        displayName: folderDelete
        description: Delete a folder
        type: boolean
      folderDuplicate:
        required: false
        example:
          value: false
        displayName: folderDuplicate
        description: Duplicate folder (requires folderCreate permission at target)
        type: boolean
      folderShare:
        required: false
        example:
          value: false
        displayName: folderShare
        description: Share a folder
        type: boolean
      folderPublicShare:
        required: false
        example:
          value: false
        displayName: folderPublicShare
        description: Create a public link for a folder (requires folderShare permission)
        type: boolean
      folderAudit:
        required: false
        example:
          value: true
        displayName: folderAudit
        description: View folder audit trail
        type: boolean
      fileCreate:
        required: false
        example:
          value: true
        displayName: fileCreate
        description: Add a file
        type: boolean
      fileRead:
        required: false
        example:
          value: true
        displayName: fileRead
        description: List files in a folder
        type: boolean
      filePreview:
        required: false
        example:
          value: true
        displayName: filePreview
        description: View preview of a file
        type: boolean
      fileDownload:
        required: false
        example:
          value: true
        displayName: fileDownload
        description: Download a file
        type: boolean
      fileUpdate:
        required: false
        example:
          value: false
        displayName: fileUpdate
        description: Update name, meta, ... of a file
        type: boolean
      fileUpdateContent:
        required: false
        example:
          value: false
        displayName: fileUpdateContent
        description: Manage file versions
        type: boolean
      fileMove:
        required: false
        example:
          value: false
        displayName: fileMove
        description: Move file to new location (requires fileCreate permission at new location)
        type: boolean
      fileDelete:
        required: false
        example:
          value: false
        displayName: fileDelete
        description: Delete a file
        type: boolean
      fileDuplicate:
        required: false
        example:
          value: false
        displayName: fileDuplicate
        description: Duplicate file (requires fileCreate permission at target)
        type: boolean
      fileShare:
        required: false
        example:
          value: false
        displayName: fileShare
        description: Share a file
        type: boolean
      filePublicShare:
        required: false
        example:
          value: false
        displayName: filePublicShare
        description: Create a public link for a file (requires folderShare permission)
        type: boolean
      fileAudit:
        required: false
        example:
          value: true
        displayName: fileAudit
        description: View file audit trail
        type: boolean
  Share:
    displayName: Share
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      entityUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: entityUid
        description: UID of shared item, be it account, entity (file, folder, ...), tag...
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      expiration:
        required: false
        example:
          value: 1537177837
        displayName: expiration
        description: UTC timestamp
        type:
        - integer
        - nil
        format: int32
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      public:
        required: false
        displayName: public
        type: boolean
      link:
        required: false
        displayName: link
        description: URL to shared entity, null if not a public share
        type:
        - string
        - nil
      role:
        required: false
        displayName: role
        type: string
        enum:
        - READ
        - EDIT
        - PREVIEW
        - CUSTOM
      status:
        required: false
        displayName: status
        type: string
        enum:
        - ACTIVE
        - DEACTIVATED
        - PENDING
        - DELETED
      group:
        required: false
        example:
          value: My group
        displayName: group
        description: null, if not a group share
        type:
        - string
        - nil
      groupUid:
        required: false
        displayName: groupUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      email:
        required: false
        displayName: email
        type:
        - string
        - nil
        maxLength: 255
      userUid:
        required: false
        displayName: userUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
      settings:
        required: false
        displayName: settings
        type: Sharesettings
  Group(withexpandedfields):
    displayName: Group(withexpandedfields)
    type: object
    properties:
      users:
        required: false
        displayName: users
        type: array
        items:
          type: Otheruser
      groups:
        required: false
        displayName: groups
        type: array
        items:
          type: Group
      shares:
        required: false
        displayName: shares
        type: array
        items:
          type: Share
  Group(withexpandedfields)2:
    displayName: Group(withexpandedfields)2
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        example:
          value: My group
        displayName: name
        type: string
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      permissions:
        required: false
        displayName: permissions
        type: group_properties-permissions
      users:
        required: false
        displayName: users
        type: array
        items:
          type: Otheruser
      groups:
        required: false
        displayName: groups
        type: array
        items:
          type: Group
      shares:
        required: false
        displayName: shares
        type: array
        items:
          type: Share
  Teamuser(withexpandedfields):
    displayName: Teamuser(withexpandedfields)
    type: object
    properties:
      remoteUsername:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: remoteUsername
        type:
        - string
        - nil
        maxLength: 255
      status:
        required: false
        displayName: status
        type:
        - string
        - nil
        enum:
        - active
        - inactive
        - invite
        - invite-inactive
      groups:
        required: false
        displayName: groups
        type: groupDefaultOrExpanded
      position:
        required: false
        displayName: position
        type:
        - string
        - nil
        maxLength: 250
  Teamuser(withexpandedfields)2:
    displayName: Teamuser(withexpandedfields)2
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        type: string
        maxLength: 255
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      firstName:
        required: false
        example:
          value: John
        displayName: firstName
        type:
        - string
        - nil
        maxLength: 255
      lastName:
        required: false
        example:
          value: Smith
        displayName: lastName
        type:
        - string
        - nil
        maxLength: 255
      remoteUsername:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: remoteUsername
        type:
        - string
        - nil
        maxLength: 255
      status:
        required: false
        displayName: status
        type:
        - string
        - nil
        enum:
        - active
        - inactive
        - invite
        - invite-inactive
      groups:
        required: false
        displayName: groups
        type: groupDefaultOrExpanded
      position:
        required: false
        displayName: position
        type:
        - string
        - nil
        maxLength: 250
  Account:
    displayName: Account
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        example:
          value: Account name
        displayName: name
        type: string
        maxLength: 255
      owner:
        required: false
        displayName: owner
        type: Otheruser
      canGetSections:
        required: false
        displayName: canGetSections
        type: boolean
      inboxFolderUid:
        required: false
        displayName: inboxFolderUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      inboxEmailName:
        required: false
        displayName: inboxEmailName
        type:
        - string
        - nil
      teamFolderUid:
        required: false
        displayName: teamFolderUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      indexing:
        required: false
        example:
          value: true
        displayName: indexing
        type: boolean
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      language:
        required: false
        example:
          value: eng
        displayName: language
        description: OCR language
        type: string
      permissions:
        required: false
        displayName: permissions
        type: permissions
  accountShare:
    displayName: accountShare
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      entityUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: entityUid
        description: UID of shared item, be it account, entity (file, folder, ...), tag...
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      expiration:
        required: false
        example:
          value: 1537177837
        displayName: expiration
        description: UTC timestamp
        type:
        - integer
        - nil
        format: int32
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      public:
        required: false
        displayName: public
        type: boolean
      link:
        required: false
        displayName: link
        description: URL to shared entity, null if not a public share
        type:
        - string
        - nil
      role:
        required: false
        displayName: role
        type: string
        enum:
        - READ
        - EDIT
        - PREVIEW
        - CUSTOM
      status:
        required: false
        displayName: status
        type: string
        enum:
        - ACTIVE
        - DEACTIVATED
        - PENDING
        - DELETED
      group:
        required: false
        example:
          value: My group
        displayName: group
        description: null, if not a group share
        type:
        - string
        - nil
      groupUid:
        required: false
        displayName: groupUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      email:
        required: false
        displayName: email
        type:
        - string
        - nil
        maxLength: 255
      userUid:
        required: false
        displayName: userUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
      settings:
        required: false
        displayName: settings
        type: Sharesettings
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
  Accountstats:
    displayName: Accountstats
    type: object
    properties:
      folders:
        required: false
        displayName: folders
        type:
        - integer
        - nil
        minimum: 0
        format: int32
      files:
        required: false
        displayName: files
        type:
        - integer
        - nil
        minimum: 0
        format: int32
      size:
        required: false
        displayName: size
        type:
        - integer
        - nil
        minimum: 0
        format: int32
      collaboratorCount:
        required: false
        displayName: collaboratorCount
        type:
        - integer
        - nil
        minimum: 5
        format: int32
      time:
        required: false
        example:
          value: 1537177837
        displayName: time
        description: UNIX timestamp
        type: integer
        format: int32
  Account(withexpandedfields):
    displayName: Account(withexpandedfields)
    type: object
    properties:
      shares:
        required: false
        displayName: shares
        type: array
        items:
          type: accountShare
      stats:
        required: false
        displayName: stats
        type:
        - Accountstats
        - nil
  Account(withexpandedfields)2:
    displayName: Account(withexpandedfields)2
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        example:
          value: Account name
        displayName: name
        type: string
        maxLength: 255
      owner:
        required: false
        displayName: owner
        type: Otheruser
      canGetSections:
        required: false
        displayName: canGetSections
        type: boolean
      inboxFolderUid:
        required: false
        displayName: inboxFolderUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      inboxEmailName:
        required: false
        displayName: inboxEmailName
        type:
        - string
        - nil
      teamFolderUid:
        required: false
        displayName: teamFolderUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      indexing:
        required: false
        example:
          value: true
        displayName: indexing
        type: boolean
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      language:
        required: false
        example:
          value: eng
        displayName: language
        description: OCR language
        type: string
      permissions:
        required: false
        displayName: permissions
        type: permissions
      shares:
        required: false
        displayName: shares
        type: array
        items:
          type: accountShare
      stats:
        required: false
        displayName: stats
        type:
        - Accountstats
        - nil
  Partiallysharedaccount:
    displayName: Partiallysharedaccount
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        example:
          value: Account name
        displayName: name
        type: string
        maxLength: 255
      owner:
        required: false
        displayName: owner
        type: Otheruser
      canGetSections:
        required: false
        displayName: canGetSections
        type: boolean
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
  permissions:
    displayName: permissions
    type: object
    properties:
      canView:
        required: false
        example:
          value: true
        displayName: canView
        type: boolean
      canUpdate:
        required: false
        example:
          value: true
        displayName: canUpdate
        type: boolean
      canDelete:
        required: false
        example:
          value: true
        displayName: canDelete
        type: boolean
      canDownload:
        required: false
        example:
          value: true
        displayName: canDownload
        type: boolean
      canCreateGroup:
        required: false
        example:
          value: true
        displayName: canCreateGroup
        type: boolean
      canCreateMeta:
        required: false
        example:
          value: true
        displayName: canCreateMeta
        type: boolean
      canCreateSection:
        required: false
        example:
          value: true
        displayName: canCreateSection
        type: boolean
      canAudit:
        required: false
        example:
          value: true
        displayName: canAudit
        type: boolean
      canShareCustomPermissions:
        required: false
        example:
          value: true
        displayName: canShareCustomPermissions
        type: boolean
      canManageGroups:
        required: false
        example:
          value: true
        displayName: canManageGroups
        type: boolean
      canManageUsers:
        required: false
        example:
          value: true
        displayName: canManageUsers
        type: boolean
      canManageMeta:
        required: false
        example:
          value: true
        displayName: canManageMeta
        type: boolean
      canManageRecycleBin:
        required: false
        example:
          value: true
        displayName: canManageRecycleBin
        type: boolean
      canManageNumbering:
        required: false
        example:
          value: true
        displayName: canManageNumbering
        type: boolean
      canManageIdp:
        required: false
        example:
          value: true
        displayName: canManageIdp
        type: boolean
      canManagePasswordPolicy:
        required: false
        example:
          value: true
        displayName: canManagePasswordPolicy
        type: boolean
  AccountUser:
    displayName: AccountUser
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        type: string
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      position:
        required: false
        displayName: position
        type:
        - string
        - nil
        maxLength: 250
      teamUser:
        required: false
        displayName: teamUser
        type: boolean
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
  AccountUser(withexpandedfields):
    displayName: AccountUser(withexpandedfields)
    type: object
    properties:
      teamUserStatus:
        required: false
        displayName: teamUserStatus
        type:
        - string
        - nil
        enum:
        - active
        - inactive
        - invite
        - invite-inactive
  AccountUser(withexpandedfields)2:
    displayName: AccountUser(withexpandedfields)2
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        displayName: name
        type: string
      email:
        required: false
        example:
          value: someEmail@foo.bar
        displayName: email
        type: string
        maxLength: 255
      position:
        required: false
        displayName: position
        type:
        - string
        - nil
        maxLength: 250
      teamUser:
        required: false
        displayName: teamUser
        type: boolean
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      teamUserStatus:
        required: false
        displayName: teamUserStatus
        type:
        - string
        - nil
        enum:
        - active
        - inactive
        - invite
        - invite-inactive
  fileShare:
    displayName: fileShare
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      entityUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: entityUid
        description: UID of shared item, be it account, entity (file, folder, ...), tag...
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      expiration:
        required: false
        example:
          value: 1537177837
        displayName: expiration
        description: UTC timestamp
        type:
        - integer
        - nil
        format: int32
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      public:
        required: false
        displayName: public
        type: boolean
      link:
        required: false
        displayName: link
        description: URL to shared entity, null if not a public share
        type:
        - string
        - nil
      role:
        required: false
        displayName: role
        type: string
        enum:
        - READ
        - EDIT
        - PREVIEW
        - CUSTOM
      status:
        required: false
        displayName: status
        type: string
        enum:
        - ACTIVE
        - DEACTIVATED
        - PENDING
        - DELETED
      group:
        required: false
        example:
          value: My group
        displayName: group
        description: null, if not a group share
        type:
        - string
        - nil
      groupUid:
        required: false
        displayName: groupUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      email:
        required: false
        displayName: email
        type:
        - string
        - nil
        maxLength: 255
      userUid:
        required: false
        displayName: userUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
      settings:
        required: false
        displayName: settings
        type: Sharesettings
      fileUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: fileUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
  folderShare:
    displayName: folderShare
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      entityUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: entityUid
        description: UID of shared item, be it account, entity (file, folder, ...), tag...
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      expiration:
        required: false
        example:
          value: 1537177837
        displayName: expiration
        description: UTC timestamp
        type:
        - integer
        - nil
        format: int32
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      public:
        required: false
        displayName: public
        type: boolean
      link:
        required: false
        displayName: link
        description: URL to shared entity, null if not a public share
        type:
        - string
        - nil
      role:
        required: false
        displayName: role
        type: string
        enum:
        - READ
        - EDIT
        - PREVIEW
        - CUSTOM
      status:
        required: false
        displayName: status
        type: string
        enum:
        - ACTIVE
        - DEACTIVATED
        - PENDING
        - DELETED
      group:
        required: false
        example:
          value: My group
        displayName: group
        description: null, if not a group share
        type:
        - string
        - nil
      groupUid:
        required: false
        displayName: groupUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      email:
        required: false
        displayName: email
        type:
        - string
        - nil
        maxLength: 255
      userUid:
        required: false
        displayName: userUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
      settings:
        required: false
        displayName: settings
        type: Sharesettings
      folderUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: folderUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
  tagShare:
    displayName: tagShare
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      entityUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: entityUid
        description: UID of shared item, be it account, entity (file, folder, ...), tag...
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      expiration:
        required: false
        example:
          value: 1537177837
        displayName: expiration
        description: UTC timestamp
        type:
        - integer
        - nil
        format: int32
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      public:
        required: false
        displayName: public
        type: boolean
      link:
        required: false
        displayName: link
        description: URL to shared entity, null if not a public share
        type:
        - string
        - nil
      role:
        required: false
        displayName: role
        type: string
        enum:
        - READ
        - EDIT
        - PREVIEW
        - CUSTOM
      status:
        required: false
        displayName: status
        type: string
        enum:
        - ACTIVE
        - DEACTIVATED
        - PENDING
        - DELETED
      group:
        required: false
        example:
          value: My group
        displayName: group
        description: null, if not a group share
        type:
        - string
        - nil
      groupUid:
        required: false
        displayName: groupUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      email:
        required: false
        displayName: email
        type:
        - string
        - nil
        maxLength: 255
      userUid:
        required: false
        displayName: userUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
      settings:
        required: false
        displayName: settings
        type: Sharesettings
      tagUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: tagUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
  index-root:
    displayName: index-root
    type: object
    properties:
      entities:
        required: false
        displayName: entities
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
          pattern: '[a-zA-Z0-9_-]{10}'
  Entity:
    displayName: Entity
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      parentUid:
        required: false
        displayName: parentUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      type:
        required: false
        displayName: type
        type: string
        enum:
        - folder
        - file
        - link
      name:
        required: false
        example:
          value: My entity name
        displayName: name
        type: string
        minLength: 1
        maxLength: 255
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      deletedAt:
        required: false
        displayName: deletedAt
        type:
        - integer
        - nil
        format: int32
      purgeTime:
        required: false
        displayName: purgeTime
        type:
        - integer
        - nil
        format: int32
      retentionEnd:
        required: false
        displayName: retentionEnd
        description: "Recycle/permanently delete/archive entity at end time  \nSetting retentionEnd object to null restores the default \"inherit from parent\" setting"
        type:
        - retentionEnd
        - nil
      retentionIsCustom:
        required: false
        displayName: retentionIsCustom
        description: Indicates whether the retentionEnd is overridden from the default
        type: boolean
      retention:
        required: false
        displayName: retention
        description: Recycle/Permanently delete/Archive items after x time, counting from the time uploaded
        type:
        - retention
        - nil
      activeRetention:
        required: false
        displayName: activeRetention
        type:
        - activeRetention
        - nil
  AttributeColumn:
    displayName: AttributeColumn
    type: object
    properties:
      field:
        required: false
        displayName: field
        type: string
        enum:
        - name
        - tags
        - date
        - due_date
        - created_at
        - updated_at
        - signees
        - id
        - size
        - mail_sender
        - retention_end
        - language
        - number
        - note
        - creator
        - extension
        - approved_at
        - signed_at
        - acknowledged_at
  retention:
    displayName: retention
    description: Recycle/Permanently delete/Archive items after x time, counting from the time uploaded
    type: object
    properties:
      time:
        required: true
        example:
          value: 1m5d
        displayName: time
        description: "Retention time order can matter as the durations are processed in the order they are stored  \nFor example:  \n1m5d -> time uploaded + 1 month + 5 days  \n5d1m -> time uploaded + 5 days + 1 month  \nFormat accepts input with spaces between durations (accepts both \"1m5d\" and \"1m 5d\" are valid), excess whitespace is trimmed automatically  \nSet time to 0 length string and action to null to force infinite retention"
        type: string
        maxLength: 30
      action:
        required: true
        displayName: action
        type:
        - string
        - nil
        enum:
        - delete
        - purge
        - archive
      isRecursive:
        required: true
        displayName: isRecursive
        type:
        - boolean
        - nil
      target:
        required: false
        example:
          value: Abc_123-XY
        displayName: target
        description: Archival target
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      keepStructure:
        required: false
        displayName: keepStructure
        description: Keep folder structure on archiving with isRecursive active
        type: boolean
      source:
        required: false
        displayName: source
        description: Source field for generating the end time
        type: string
        enum:
        - createdAt
        - updatedAt
        - date
        - dueDate
        - approvedAt
        - signedAt
        - acknowledgedAt
        - reviewedAt
        - meta:<uid>
  activeRetention:
    displayName: activeRetention
    type: object
    properties:
      time:
        required: true
        example:
          value: 1m5d
        displayName: time
        description: "Retention time order can matter as the durations are processed in the order they are stored  \nFor example:  \n1m5d -> time uploaded + 1 month + 5 days  \n5d1m -> time uploaded + 5 days + 1 month  \nFormat accepts input with spaces between durations (accepts both \"1m5d\" and \"1m 5d\" are valid), excess whitespace is trimmed automatically  \nSet time to 0 length string and action to null to force infinite retention"
        type: string
        maxLength: 30
      action:
        required: true
        displayName: action
        type:
        - string
        - nil
        enum:
        - delete
        - purge
        - archive
      entityUid:
        required: true
        example:
          value: Abc_123-XY
        displayName: entityUid
        description: UID of an entity from where the retention originates from
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      isRecursive:
        required: true
        displayName: isRecursive
        type:
        - boolean
        - nil
      source:
        required: false
        displayName: source
        description: Source field for generating the end time
        type: string
        enum:
        - createdAt
        - updatedAt
        - date
        - dueDate
        - approvedAt
        - signedAt
        - acknowledgedAt
        - reviewedAt
        - meta:<uid>
      target:
        required: false
        example:
          value: Abc_123-XY
        displayName: target
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      keepStructure:
        required: false
        displayName: keepStructure
        description: Keep folder structure on archiving with isRecursive active
        type: boolean
  Mail-inaddress:
    displayName: Mail-inaddress
    type: object
    properties:
      address:
        required: false
        example:
          value: some-random-address@folderit.com
        displayName: address
        type: string
      active:
        required: false
        displayName: active
        type: boolean
  Folder:
    displayName: Folder
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      parentUid:
        required: false
        displayName: parentUid
        type:
        - string
        - nil
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      name:
        required: false
        example:
          value: My folder name
        displayName: name
        type: string
        minLength: 1
        maxLength: 255
      visibleColumns:
        required: false
        displayName: visibleColumns
        description: Array of columns to be shown by the client
        type: folderColumn
      size:
        required: false
        example:
          value: 123
        displayName: size
        type: integer
        format: int32
      language:
        required: false
        example:
          value: eng
        displayName: language
        description: OCR language
        type: string
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      deletedAt:
        required: false
        displayName: deletedAt
        type:
        - integer
        - nil
        format: int32
      purgeTime:
        required: false
        displayName: purgeTime
        type:
        - integer
        - nil
        format: int32
      retention:
        required: false
        displayName: retention
        description: Recycle/Permanently delete/Archive items after x time, counting from the time uploaded
        type:
        - retention
        - nil
      activeRetention:
        required: false
        displayName: activeRetention
        type:
        - activeRetention
        - nil
      mailInAddress:
        required: false
        displayName: mailInAddress
        type:
        - Mail-inaddress
        - nil
      permissions:
        required: false
        displayName: permissions
        type: folder_properties-permissions
  MetaBase:
    displayName: MetaBase
    type: object
    properties:
      type:
        required: true
        displayName: type
        type: string
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      multiple:
        required: false
        example:
          value: false
        displayName: multiple
        type: boolean
      name:
        required: false
        example:
          value: meta name
        displayName: name
        type: string
        maxLength: 255
      description:
        required: false
        displayName: description
        type:
        - string
        - nil
        maxLength: 255
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
  Stringmeta:
    displayName: Stringmeta
    type: object
    properties:
      type:
        required: true
        displayName: type
        type: string
        enum:
        - string
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      multiple:
        required: false
        example:
          value: false
        displayName: multiple
        type: boolean
      name:
        required: false
        example:
          value: meta name
        displayName: name
        type: string
        maxLength: 255
      description:
        required: false
        displayName: description
        type:
        - string
        - nil
        maxLength: 255
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
  Entitystringmeta:
    displayName: Entitystringmeta
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      meta:
        required: false
        displayName: meta
        type: Stringmeta
      value:
        required: false
        example:
          value: meta value
        displayName: value
        type: string
        minLength: 1
        maxLength: 512
  Textmeta:
    displayName: Textmeta
    type: object
    properties:
      type:
        required: true
        displayName: type
        type: string
        enum:
        - text
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      multiple:
        required: false
        example:
          value: false
        displayName: multiple
        type: boolean
      name:
        required: false
        example:
          value: meta name
        displayName: name
        type: string
        maxLength: 255
      description:
        required: false
        displayName: description
        type:
        - string
        - nil
        maxLength: 255
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
  Entitytextmeta:
    displayName: Entitytextmeta
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      meta:
        required: false
        displayName: meta
        type: Textmeta
      value:
        required: false
        example:
          value: meta value
        displayName: value
        type: string
        minLength: 1
  Integermeta:
    displayName: Integermeta
    type: object
    properties:
      type:
        required: true
        displayName: type
        type: string
        enum:
        - integer
      uid:
        required: false
        example:
          value: Abc_123-XY
        displayName: uid
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      accountUid:
        required: false
        example:
          value: Abc_123-XY
        displayName: accountUid
        description: Account UID
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        minLength: 10
        maxLength: 10
      multiple:
        required: false
        example:
          value: false
        displayName: multiple
        type: boolean
      name:
        required: false
        example:
          value: meta name
        displayName: name
        type: string
        maxLength: 255
      description:
        required: false
        displayName: description
        type:
        - string
        - nil
        maxLength: 255
      createdAt:
        required: false
        example:
          value: 1537177837
        displayName: createdAt
        description: UNIX timestamp
        type: integer
        format: int32
      updatedAt:
        required: false
        example:
          value: 1537177837
        displayName: updatedAt
        description: UNIX timestamp
        type: integer
        format: int32
      permissions:
        required: false
        displayName: permissions
        type: metaBase_properties-permissions
  Entityintegermeta:
    displayName: Entityintegermeta
    type: object
    properties:
      uid:
        required: false
        example:
          value: Abc_123-XY
[...]
